@import "../../variables/breakpoints.scss";

@mixin gridSize ($size, $percentual, $breakpointName: '') {
    @if($breakpointName=='') {
        .w-#{$size} {
            width: $percentual;
            flex: 0 1 $percentual;
            max-width: $percentual;
        }
    }
    @else {
        .w-#{$size}-#{$breakpointName} {
            width: $percentual;
            flex: 0 1 $percentual;
            max-width: $percentual;
        }
    }
}

@mixin marginSize ($size, $percentual, $breakpointName: '') {
    @if($breakpointName=='') {
        .wml-#{$size} {
            margin-left: $percentual;
        }
        .wmr-#{$size} {
            margin-right: $percentual;
        }
    }
    @else {
        .wml-#{$size}-#{$breakpointName} {
            margin-left: $percentual;
        }
        .wmr-#{$size}-#{$breakpointName} {
            margin-right: $percentual;
        }
    }
}

@mixin offsetSize ($size, $percentual, $breakpointName: '') {
    @if($breakpointName=='') {
        .wl-#{$size} {
            left: $percentual;
        }
        .wr-#{$size} {
            right: $percentual;
        }
    }
    @else {
        .wl-#{$size}-#{$breakpointName} {
           left: $percentual;
        }
        .wmr-#{$size}-#{$breakpointName} {
            right: $percentual;
        }
    }
}

@mixin generate-grid($columns, $breakpointName: '') {
    @for $i from 1 through $columns {
        // Calcular percentual da coluna
        $size: 5 * $i;
        $percentual: percentage($i / $columns);

        @include gridSize($size, $percentual, $breakpointName);

        @include marginSize($size, $percentual, $breakpointName);

        @include offsetSize($size, $percentual, $breakpointName);

    }

    @if($breakpointName=='') {
        .wml-auto {
            margin-left: auto !important;
        }
        .wmr-auto {
            margin-right: auto !important;
        }
        .w-33 {
            width: 33.3333333333%;
            flex: 0 1 33.3333333333%;
            max-width: 33.3333333333%;
        }
        .w-auto {
            flex: 1 1 auto;
            max-width: 100%;
        }
        .w-maximize {
            max-width: none !important;
            margin: 0 !important;
            align-self: stretch;
            flex-grow: 1 !important;
            flex-shrink: 0 !important;
            flex-basis: 100% !important;
        }
    } @else {
        .wml-auto-#{$breakpointName} {
            margin-left: auto !important;
        }
        .wmr-auto-#{$breakpointName} {
            margin-right: auto !important;
        }
        .w-33-#{$breakpointName} {
            width: 33.3333333333%;
            flex: 0 1 33.3333333333%;
            max-width: 33.3333333333%;
        }
        .w-auto-#{$breakpointName} {
            flex: 1 1 auto;
            max-width: 100%;
        }
        .w-maximize-#{$breakpointName} {
            max-width: none !important;
            margin: 0 !important;
            align-self: stretch;
            flex-grow: 1 !important;
            flex-shrink: 0 !important;
            flex-basis: 100% !important;
        }
    }
}

/* Sem media breakpoint */
@include generate-grid(20);

/* Grid em media query */
@each $breakpointName,
$breakpoint in $breakpoints {
    @media #{$breakpoint} {
        @include generate-grid(20, $breakpointName);
    }
}