/*
Device = Maioria dos telefones Smartphone (Portrait)
Screen = B/w 320px to 479px
*/
/*
Device = Low Resolution Tablets, Mobiles (Landscape)
Screen = B/w 481px to 767px
*/
/*
Device = Tablets, Ipads (portrait)
Screen = B/w 768px to 1024px
*/
/*
Device = Laptops, Desktops
Screen = B/w 1025px to 1280px
*/
/*
Device = Large devices
Screen = 1281px to higher resolution desktops
*/
/* -------------------------------------------------------------------------- */
/* Sem media breakpoint */
.w-5 {
  width: 5%;
  flex: 0 1 5%;
  max-width: 5%;
}

.wml-5 {
  margin-left: 5%;
}

.wmr-5 {
  margin-right: 5%;
}

.wl-5 {
  left: 5%;
}

.wr-5 {
  right: 5%;
}

.w-10 {
  width: 10%;
  flex: 0 1 10%;
  max-width: 10%;
}

.wml-10 {
  margin-left: 10%;
}

.wmr-10 {
  margin-right: 10%;
}

.wl-10 {
  left: 10%;
}

.wr-10 {
  right: 10%;
}

.w-15 {
  width: 15%;
  flex: 0 1 15%;
  max-width: 15%;
}

.wml-15 {
  margin-left: 15%;
}

.wmr-15 {
  margin-right: 15%;
}

.wl-15 {
  left: 15%;
}

.wr-15 {
  right: 15%;
}

.w-20 {
  width: 20%;
  flex: 0 1 20%;
  max-width: 20%;
}

.wml-20 {
  margin-left: 20%;
}

.wmr-20 {
  margin-right: 20%;
}

.wl-20 {
  left: 20%;
}

.wr-20 {
  right: 20%;
}

.w-25 {
  width: 25%;
  flex: 0 1 25%;
  max-width: 25%;
}

.wml-25 {
  margin-left: 25%;
}

.wmr-25 {
  margin-right: 25%;
}

.wl-25 {
  left: 25%;
}

.wr-25 {
  right: 25%;
}

.w-30 {
  width: 30%;
  flex: 0 1 30%;
  max-width: 30%;
}

.wml-30 {
  margin-left: 30%;
}

.wmr-30 {
  margin-right: 30%;
}

.wl-30 {
  left: 30%;
}

.wr-30 {
  right: 30%;
}

.w-35 {
  width: 35%;
  flex: 0 1 35%;
  max-width: 35%;
}

.wml-35 {
  margin-left: 35%;
}

.wmr-35 {
  margin-right: 35%;
}

.wl-35 {
  left: 35%;
}

.wr-35 {
  right: 35%;
}

.w-40 {
  width: 40%;
  flex: 0 1 40%;
  max-width: 40%;
}

.wml-40 {
  margin-left: 40%;
}

.wmr-40 {
  margin-right: 40%;
}

.wl-40 {
  left: 40%;
}

.wr-40 {
  right: 40%;
}

.w-45 {
  width: 45%;
  flex: 0 1 45%;
  max-width: 45%;
}

.wml-45 {
  margin-left: 45%;
}

.wmr-45 {
  margin-right: 45%;
}

.wl-45 {
  left: 45%;
}

.wr-45 {
  right: 45%;
}

.w-50 {
  width: 50%;
  flex: 0 1 50%;
  max-width: 50%;
}

.wml-50 {
  margin-left: 50%;
}

.wmr-50 {
  margin-right: 50%;
}

.wl-50 {
  left: 50%;
}

.wr-50 {
  right: 50%;
}

.w-55 {
  width: 55%;
  flex: 0 1 55%;
  max-width: 55%;
}

.wml-55 {
  margin-left: 55%;
}

.wmr-55 {
  margin-right: 55%;
}

.wl-55 {
  left: 55%;
}

.wr-55 {
  right: 55%;
}

.w-60 {
  width: 60%;
  flex: 0 1 60%;
  max-width: 60%;
}

.wml-60 {
  margin-left: 60%;
}

.wmr-60 {
  margin-right: 60%;
}

.wl-60 {
  left: 60%;
}

.wr-60 {
  right: 60%;
}

.w-65 {
  width: 65%;
  flex: 0 1 65%;
  max-width: 65%;
}

.wml-65 {
  margin-left: 65%;
}

.wmr-65 {
  margin-right: 65%;
}

.wl-65 {
  left: 65%;
}

.wr-65 {
  right: 65%;
}

.w-70 {
  width: 70%;
  flex: 0 1 70%;
  max-width: 70%;
}

.wml-70 {
  margin-left: 70%;
}

.wmr-70 {
  margin-right: 70%;
}

.wl-70 {
  left: 70%;
}

.wr-70 {
  right: 70%;
}

.w-75 {
  width: 75%;
  flex: 0 1 75%;
  max-width: 75%;
}

.wml-75 {
  margin-left: 75%;
}

.wmr-75 {
  margin-right: 75%;
}

.wl-75 {
  left: 75%;
}

.wr-75 {
  right: 75%;
}

.w-80 {
  width: 80%;
  flex: 0 1 80%;
  max-width: 80%;
}

.wml-80 {
  margin-left: 80%;
}

.wmr-80 {
  margin-right: 80%;
}

.wl-80 {
  left: 80%;
}

.wr-80 {
  right: 80%;
}

.w-85 {
  width: 85%;
  flex: 0 1 85%;
  max-width: 85%;
}

.wml-85 {
  margin-left: 85%;
}

.wmr-85 {
  margin-right: 85%;
}

.wl-85 {
  left: 85%;
}

.wr-85 {
  right: 85%;
}

.w-90 {
  width: 90%;
  flex: 0 1 90%;
  max-width: 90%;
}

.wml-90 {
  margin-left: 90%;
}

.wmr-90 {
  margin-right: 90%;
}

.wl-90 {
  left: 90%;
}

.wr-90 {
  right: 90%;
}

.w-95 {
  width: 95%;
  flex: 0 1 95%;
  max-width: 95%;
}

.wml-95 {
  margin-left: 95%;
}

.wmr-95 {
  margin-right: 95%;
}

.wl-95 {
  left: 95%;
}

.wr-95 {
  right: 95%;
}

.w-100 {
  width: 100%;
  flex: 0 1 100%;
  max-width: 100%;
}

.wml-100 {
  margin-left: 100%;
}

.wmr-100 {
  margin-right: 100%;
}

.wl-100 {
  left: 100%;
}

.wr-100 {
  right: 100%;
}

.wml-auto {
  margin-left: auto !important;
}

.wmr-auto {
  margin-right: auto !important;
}

.w-33 {
  width: 33.3333333333%;
  flex: 0 1 33.3333333333%;
  max-width: 33.3333333333%;
}

.w-auto {
  flex: 1 1 auto;
  max-width: 100%;
}

.w-maximize {
  max-width: none !important;
  margin: 0 !important;
  align-self: stretch;
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  flex-basis: 100% !important;
}

/* Grid em media query */
@media (min-width: 320px) and (max-width: 480px) {
  .w-5-sm {
    width: 5%;
    flex: 0 1 5%;
    max-width: 5%;
  }
  .wml-5-sm {
    margin-left: 5%;
  }
  .wmr-5-sm {
    margin-right: 5%;
  }
  .wl-5-sm {
    left: 5%;
  }
  .wmr-5-sm {
    right: 5%;
  }
  .w-10-sm {
    width: 10%;
    flex: 0 1 10%;
    max-width: 10%;
  }
  .wml-10-sm {
    margin-left: 10%;
  }
  .wmr-10-sm {
    margin-right: 10%;
  }
  .wl-10-sm {
    left: 10%;
  }
  .wmr-10-sm {
    right: 10%;
  }
  .w-15-sm {
    width: 15%;
    flex: 0 1 15%;
    max-width: 15%;
  }
  .wml-15-sm {
    margin-left: 15%;
  }
  .wmr-15-sm {
    margin-right: 15%;
  }
  .wl-15-sm {
    left: 15%;
  }
  .wmr-15-sm {
    right: 15%;
  }
  .w-20-sm {
    width: 20%;
    flex: 0 1 20%;
    max-width: 20%;
  }
  .wml-20-sm {
    margin-left: 20%;
  }
  .wmr-20-sm {
    margin-right: 20%;
  }
  .wl-20-sm {
    left: 20%;
  }
  .wmr-20-sm {
    right: 20%;
  }
  .w-25-sm {
    width: 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
  .wml-25-sm {
    margin-left: 25%;
  }
  .wmr-25-sm {
    margin-right: 25%;
  }
  .wl-25-sm {
    left: 25%;
  }
  .wmr-25-sm {
    right: 25%;
  }
  .w-30-sm {
    width: 30%;
    flex: 0 1 30%;
    max-width: 30%;
  }
  .wml-30-sm {
    margin-left: 30%;
  }
  .wmr-30-sm {
    margin-right: 30%;
  }
  .wl-30-sm {
    left: 30%;
  }
  .wmr-30-sm {
    right: 30%;
  }
  .w-35-sm {
    width: 35%;
    flex: 0 1 35%;
    max-width: 35%;
  }
  .wml-35-sm {
    margin-left: 35%;
  }
  .wmr-35-sm {
    margin-right: 35%;
  }
  .wl-35-sm {
    left: 35%;
  }
  .wmr-35-sm {
    right: 35%;
  }
  .w-40-sm {
    width: 40%;
    flex: 0 1 40%;
    max-width: 40%;
  }
  .wml-40-sm {
    margin-left: 40%;
  }
  .wmr-40-sm {
    margin-right: 40%;
  }
  .wl-40-sm {
    left: 40%;
  }
  .wmr-40-sm {
    right: 40%;
  }
  .w-45-sm {
    width: 45%;
    flex: 0 1 45%;
    max-width: 45%;
  }
  .wml-45-sm {
    margin-left: 45%;
  }
  .wmr-45-sm {
    margin-right: 45%;
  }
  .wl-45-sm {
    left: 45%;
  }
  .wmr-45-sm {
    right: 45%;
  }
  .w-50-sm {
    width: 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wml-50-sm {
    margin-left: 50%;
  }
  .wmr-50-sm {
    margin-right: 50%;
  }
  .wl-50-sm {
    left: 50%;
  }
  .wmr-50-sm {
    right: 50%;
  }
  .w-55-sm {
    width: 55%;
    flex: 0 1 55%;
    max-width: 55%;
  }
  .wml-55-sm {
    margin-left: 55%;
  }
  .wmr-55-sm {
    margin-right: 55%;
  }
  .wl-55-sm {
    left: 55%;
  }
  .wmr-55-sm {
    right: 55%;
  }
  .w-60-sm {
    width: 60%;
    flex: 0 1 60%;
    max-width: 60%;
  }
  .wml-60-sm {
    margin-left: 60%;
  }
  .wmr-60-sm {
    margin-right: 60%;
  }
  .wl-60-sm {
    left: 60%;
  }
  .wmr-60-sm {
    right: 60%;
  }
  .w-65-sm {
    width: 65%;
    flex: 0 1 65%;
    max-width: 65%;
  }
  .wml-65-sm {
    margin-left: 65%;
  }
  .wmr-65-sm {
    margin-right: 65%;
  }
  .wl-65-sm {
    left: 65%;
  }
  .wmr-65-sm {
    right: 65%;
  }
  .w-70-sm {
    width: 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
  .wml-70-sm {
    margin-left: 70%;
  }
  .wmr-70-sm {
    margin-right: 70%;
  }
  .wl-70-sm {
    left: 70%;
  }
  .wmr-70-sm {
    right: 70%;
  }
  .w-75-sm {
    width: 75%;
    flex: 0 1 75%;
    max-width: 75%;
  }
  .wml-75-sm {
    margin-left: 75%;
  }
  .wmr-75-sm {
    margin-right: 75%;
  }
  .wl-75-sm {
    left: 75%;
  }
  .wmr-75-sm {
    right: 75%;
  }
  .w-80-sm {
    width: 80%;
    flex: 0 1 80%;
    max-width: 80%;
  }
  .wml-80-sm {
    margin-left: 80%;
  }
  .wmr-80-sm {
    margin-right: 80%;
  }
  .wl-80-sm {
    left: 80%;
  }
  .wmr-80-sm {
    right: 80%;
  }
  .w-85-sm {
    width: 85%;
    flex: 0 1 85%;
    max-width: 85%;
  }
  .wml-85-sm {
    margin-left: 85%;
  }
  .wmr-85-sm {
    margin-right: 85%;
  }
  .wl-85-sm {
    left: 85%;
  }
  .wmr-85-sm {
    right: 85%;
  }
  .w-90-sm {
    width: 90%;
    flex: 0 1 90%;
    max-width: 90%;
  }
  .wml-90-sm {
    margin-left: 90%;
  }
  .wmr-90-sm {
    margin-right: 90%;
  }
  .wl-90-sm {
    left: 90%;
  }
  .wmr-90-sm {
    right: 90%;
  }
  .w-95-sm {
    width: 95%;
    flex: 0 1 95%;
    max-width: 95%;
  }
  .wml-95-sm {
    margin-left: 95%;
  }
  .wmr-95-sm {
    margin-right: 95%;
  }
  .wl-95-sm {
    left: 95%;
  }
  .wmr-95-sm {
    right: 95%;
  }
  .w-100-sm {
    width: 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .wml-100-sm {
    margin-left: 100%;
  }
  .wmr-100-sm {
    margin-right: 100%;
  }
  .wl-100-sm {
    left: 100%;
  }
  .wmr-100-sm {
    right: 100%;
  }
  .wml-auto-sm {
    margin-left: auto !important;
  }
  .wmr-auto-sm {
    margin-right: auto !important;
  }
  .w-33-sm {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .w-auto-sm {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .w-maximize-sm {
    max-width: none !important;
    margin: 0 !important;
    align-self: stretch;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }
}

@media (min-width: 320px) {
  .w-5-sm-up {
    width: 5%;
    flex: 0 1 5%;
    max-width: 5%;
  }
  .wml-5-sm-up {
    margin-left: 5%;
  }
  .wmr-5-sm-up {
    margin-right: 5%;
  }
  .wl-5-sm-up {
    left: 5%;
  }
  .wmr-5-sm-up {
    right: 5%;
  }
  .w-10-sm-up {
    width: 10%;
    flex: 0 1 10%;
    max-width: 10%;
  }
  .wml-10-sm-up {
    margin-left: 10%;
  }
  .wmr-10-sm-up {
    margin-right: 10%;
  }
  .wl-10-sm-up {
    left: 10%;
  }
  .wmr-10-sm-up {
    right: 10%;
  }
  .w-15-sm-up {
    width: 15%;
    flex: 0 1 15%;
    max-width: 15%;
  }
  .wml-15-sm-up {
    margin-left: 15%;
  }
  .wmr-15-sm-up {
    margin-right: 15%;
  }
  .wl-15-sm-up {
    left: 15%;
  }
  .wmr-15-sm-up {
    right: 15%;
  }
  .w-20-sm-up {
    width: 20%;
    flex: 0 1 20%;
    max-width: 20%;
  }
  .wml-20-sm-up {
    margin-left: 20%;
  }
  .wmr-20-sm-up {
    margin-right: 20%;
  }
  .wl-20-sm-up {
    left: 20%;
  }
  .wmr-20-sm-up {
    right: 20%;
  }
  .w-25-sm-up {
    width: 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
  .wml-25-sm-up {
    margin-left: 25%;
  }
  .wmr-25-sm-up {
    margin-right: 25%;
  }
  .wl-25-sm-up {
    left: 25%;
  }
  .wmr-25-sm-up {
    right: 25%;
  }
  .w-30-sm-up {
    width: 30%;
    flex: 0 1 30%;
    max-width: 30%;
  }
  .wml-30-sm-up {
    margin-left: 30%;
  }
  .wmr-30-sm-up {
    margin-right: 30%;
  }
  .wl-30-sm-up {
    left: 30%;
  }
  .wmr-30-sm-up {
    right: 30%;
  }
  .w-35-sm-up {
    width: 35%;
    flex: 0 1 35%;
    max-width: 35%;
  }
  .wml-35-sm-up {
    margin-left: 35%;
  }
  .wmr-35-sm-up {
    margin-right: 35%;
  }
  .wl-35-sm-up {
    left: 35%;
  }
  .wmr-35-sm-up {
    right: 35%;
  }
  .w-40-sm-up {
    width: 40%;
    flex: 0 1 40%;
    max-width: 40%;
  }
  .wml-40-sm-up {
    margin-left: 40%;
  }
  .wmr-40-sm-up {
    margin-right: 40%;
  }
  .wl-40-sm-up {
    left: 40%;
  }
  .wmr-40-sm-up {
    right: 40%;
  }
  .w-45-sm-up {
    width: 45%;
    flex: 0 1 45%;
    max-width: 45%;
  }
  .wml-45-sm-up {
    margin-left: 45%;
  }
  .wmr-45-sm-up {
    margin-right: 45%;
  }
  .wl-45-sm-up {
    left: 45%;
  }
  .wmr-45-sm-up {
    right: 45%;
  }
  .w-50-sm-up {
    width: 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wml-50-sm-up {
    margin-left: 50%;
  }
  .wmr-50-sm-up {
    margin-right: 50%;
  }
  .wl-50-sm-up {
    left: 50%;
  }
  .wmr-50-sm-up {
    right: 50%;
  }
  .w-55-sm-up {
    width: 55%;
    flex: 0 1 55%;
    max-width: 55%;
  }
  .wml-55-sm-up {
    margin-left: 55%;
  }
  .wmr-55-sm-up {
    margin-right: 55%;
  }
  .wl-55-sm-up {
    left: 55%;
  }
  .wmr-55-sm-up {
    right: 55%;
  }
  .w-60-sm-up {
    width: 60%;
    flex: 0 1 60%;
    max-width: 60%;
  }
  .wml-60-sm-up {
    margin-left: 60%;
  }
  .wmr-60-sm-up {
    margin-right: 60%;
  }
  .wl-60-sm-up {
    left: 60%;
  }
  .wmr-60-sm-up {
    right: 60%;
  }
  .w-65-sm-up {
    width: 65%;
    flex: 0 1 65%;
    max-width: 65%;
  }
  .wml-65-sm-up {
    margin-left: 65%;
  }
  .wmr-65-sm-up {
    margin-right: 65%;
  }
  .wl-65-sm-up {
    left: 65%;
  }
  .wmr-65-sm-up {
    right: 65%;
  }
  .w-70-sm-up {
    width: 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
  .wml-70-sm-up {
    margin-left: 70%;
  }
  .wmr-70-sm-up {
    margin-right: 70%;
  }
  .wl-70-sm-up {
    left: 70%;
  }
  .wmr-70-sm-up {
    right: 70%;
  }
  .w-75-sm-up {
    width: 75%;
    flex: 0 1 75%;
    max-width: 75%;
  }
  .wml-75-sm-up {
    margin-left: 75%;
  }
  .wmr-75-sm-up {
    margin-right: 75%;
  }
  .wl-75-sm-up {
    left: 75%;
  }
  .wmr-75-sm-up {
    right: 75%;
  }
  .w-80-sm-up {
    width: 80%;
    flex: 0 1 80%;
    max-width: 80%;
  }
  .wml-80-sm-up {
    margin-left: 80%;
  }
  .wmr-80-sm-up {
    margin-right: 80%;
  }
  .wl-80-sm-up {
    left: 80%;
  }
  .wmr-80-sm-up {
    right: 80%;
  }
  .w-85-sm-up {
    width: 85%;
    flex: 0 1 85%;
    max-width: 85%;
  }
  .wml-85-sm-up {
    margin-left: 85%;
  }
  .wmr-85-sm-up {
    margin-right: 85%;
  }
  .wl-85-sm-up {
    left: 85%;
  }
  .wmr-85-sm-up {
    right: 85%;
  }
  .w-90-sm-up {
    width: 90%;
    flex: 0 1 90%;
    max-width: 90%;
  }
  .wml-90-sm-up {
    margin-left: 90%;
  }
  .wmr-90-sm-up {
    margin-right: 90%;
  }
  .wl-90-sm-up {
    left: 90%;
  }
  .wmr-90-sm-up {
    right: 90%;
  }
  .w-95-sm-up {
    width: 95%;
    flex: 0 1 95%;
    max-width: 95%;
  }
  .wml-95-sm-up {
    margin-left: 95%;
  }
  .wmr-95-sm-up {
    margin-right: 95%;
  }
  .wl-95-sm-up {
    left: 95%;
  }
  .wmr-95-sm-up {
    right: 95%;
  }
  .w-100-sm-up {
    width: 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .wml-100-sm-up {
    margin-left: 100%;
  }
  .wmr-100-sm-up {
    margin-right: 100%;
  }
  .wl-100-sm-up {
    left: 100%;
  }
  .wmr-100-sm-up {
    right: 100%;
  }
  .wml-auto-sm-up {
    margin-left: auto !important;
  }
  .wmr-auto-sm-up {
    margin-right: auto !important;
  }
  .w-33-sm-up {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .w-auto-sm-up {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .w-maximize-sm-up {
    max-width: none !important;
    margin: 0 !important;
    align-self: stretch;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }
}

@media (max-width: 480px) {
  .w-5-sm-down {
    width: 5%;
    flex: 0 1 5%;
    max-width: 5%;
  }
  .wml-5-sm-down {
    margin-left: 5%;
  }
  .wmr-5-sm-down {
    margin-right: 5%;
  }
  .wl-5-sm-down {
    left: 5%;
  }
  .wmr-5-sm-down {
    right: 5%;
  }
  .w-10-sm-down {
    width: 10%;
    flex: 0 1 10%;
    max-width: 10%;
  }
  .wml-10-sm-down {
    margin-left: 10%;
  }
  .wmr-10-sm-down {
    margin-right: 10%;
  }
  .wl-10-sm-down {
    left: 10%;
  }
  .wmr-10-sm-down {
    right: 10%;
  }
  .w-15-sm-down {
    width: 15%;
    flex: 0 1 15%;
    max-width: 15%;
  }
  .wml-15-sm-down {
    margin-left: 15%;
  }
  .wmr-15-sm-down {
    margin-right: 15%;
  }
  .wl-15-sm-down {
    left: 15%;
  }
  .wmr-15-sm-down {
    right: 15%;
  }
  .w-20-sm-down {
    width: 20%;
    flex: 0 1 20%;
    max-width: 20%;
  }
  .wml-20-sm-down {
    margin-left: 20%;
  }
  .wmr-20-sm-down {
    margin-right: 20%;
  }
  .wl-20-sm-down {
    left: 20%;
  }
  .wmr-20-sm-down {
    right: 20%;
  }
  .w-25-sm-down {
    width: 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
  .wml-25-sm-down {
    margin-left: 25%;
  }
  .wmr-25-sm-down {
    margin-right: 25%;
  }
  .wl-25-sm-down {
    left: 25%;
  }
  .wmr-25-sm-down {
    right: 25%;
  }
  .w-30-sm-down {
    width: 30%;
    flex: 0 1 30%;
    max-width: 30%;
  }
  .wml-30-sm-down {
    margin-left: 30%;
  }
  .wmr-30-sm-down {
    margin-right: 30%;
  }
  .wl-30-sm-down {
    left: 30%;
  }
  .wmr-30-sm-down {
    right: 30%;
  }
  .w-35-sm-down {
    width: 35%;
    flex: 0 1 35%;
    max-width: 35%;
  }
  .wml-35-sm-down {
    margin-left: 35%;
  }
  .wmr-35-sm-down {
    margin-right: 35%;
  }
  .wl-35-sm-down {
    left: 35%;
  }
  .wmr-35-sm-down {
    right: 35%;
  }
  .w-40-sm-down {
    width: 40%;
    flex: 0 1 40%;
    max-width: 40%;
  }
  .wml-40-sm-down {
    margin-left: 40%;
  }
  .wmr-40-sm-down {
    margin-right: 40%;
  }
  .wl-40-sm-down {
    left: 40%;
  }
  .wmr-40-sm-down {
    right: 40%;
  }
  .w-45-sm-down {
    width: 45%;
    flex: 0 1 45%;
    max-width: 45%;
  }
  .wml-45-sm-down {
    margin-left: 45%;
  }
  .wmr-45-sm-down {
    margin-right: 45%;
  }
  .wl-45-sm-down {
    left: 45%;
  }
  .wmr-45-sm-down {
    right: 45%;
  }
  .w-50-sm-down {
    width: 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wml-50-sm-down {
    margin-left: 50%;
  }
  .wmr-50-sm-down {
    margin-right: 50%;
  }
  .wl-50-sm-down {
    left: 50%;
  }
  .wmr-50-sm-down {
    right: 50%;
  }
  .w-55-sm-down {
    width: 55%;
    flex: 0 1 55%;
    max-width: 55%;
  }
  .wml-55-sm-down {
    margin-left: 55%;
  }
  .wmr-55-sm-down {
    margin-right: 55%;
  }
  .wl-55-sm-down {
    left: 55%;
  }
  .wmr-55-sm-down {
    right: 55%;
  }
  .w-60-sm-down {
    width: 60%;
    flex: 0 1 60%;
    max-width: 60%;
  }
  .wml-60-sm-down {
    margin-left: 60%;
  }
  .wmr-60-sm-down {
    margin-right: 60%;
  }
  .wl-60-sm-down {
    left: 60%;
  }
  .wmr-60-sm-down {
    right: 60%;
  }
  .w-65-sm-down {
    width: 65%;
    flex: 0 1 65%;
    max-width: 65%;
  }
  .wml-65-sm-down {
    margin-left: 65%;
  }
  .wmr-65-sm-down {
    margin-right: 65%;
  }
  .wl-65-sm-down {
    left: 65%;
  }
  .wmr-65-sm-down {
    right: 65%;
  }
  .w-70-sm-down {
    width: 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
  .wml-70-sm-down {
    margin-left: 70%;
  }
  .wmr-70-sm-down {
    margin-right: 70%;
  }
  .wl-70-sm-down {
    left: 70%;
  }
  .wmr-70-sm-down {
    right: 70%;
  }
  .w-75-sm-down {
    width: 75%;
    flex: 0 1 75%;
    max-width: 75%;
  }
  .wml-75-sm-down {
    margin-left: 75%;
  }
  .wmr-75-sm-down {
    margin-right: 75%;
  }
  .wl-75-sm-down {
    left: 75%;
  }
  .wmr-75-sm-down {
    right: 75%;
  }
  .w-80-sm-down {
    width: 80%;
    flex: 0 1 80%;
    max-width: 80%;
  }
  .wml-80-sm-down {
    margin-left: 80%;
  }
  .wmr-80-sm-down {
    margin-right: 80%;
  }
  .wl-80-sm-down {
    left: 80%;
  }
  .wmr-80-sm-down {
    right: 80%;
  }
  .w-85-sm-down {
    width: 85%;
    flex: 0 1 85%;
    max-width: 85%;
  }
  .wml-85-sm-down {
    margin-left: 85%;
  }
  .wmr-85-sm-down {
    margin-right: 85%;
  }
  .wl-85-sm-down {
    left: 85%;
  }
  .wmr-85-sm-down {
    right: 85%;
  }
  .w-90-sm-down {
    width: 90%;
    flex: 0 1 90%;
    max-width: 90%;
  }
  .wml-90-sm-down {
    margin-left: 90%;
  }
  .wmr-90-sm-down {
    margin-right: 90%;
  }
  .wl-90-sm-down {
    left: 90%;
  }
  .wmr-90-sm-down {
    right: 90%;
  }
  .w-95-sm-down {
    width: 95%;
    flex: 0 1 95%;
    max-width: 95%;
  }
  .wml-95-sm-down {
    margin-left: 95%;
  }
  .wmr-95-sm-down {
    margin-right: 95%;
  }
  .wl-95-sm-down {
    left: 95%;
  }
  .wmr-95-sm-down {
    right: 95%;
  }
  .w-100-sm-down {
    width: 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .wml-100-sm-down {
    margin-left: 100%;
  }
  .wmr-100-sm-down {
    margin-right: 100%;
  }
  .wl-100-sm-down {
    left: 100%;
  }
  .wmr-100-sm-down {
    right: 100%;
  }
  .wml-auto-sm-down {
    margin-left: auto !important;
  }
  .wmr-auto-sm-down {
    margin-right: auto !important;
  }
  .w-33-sm-down {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .w-auto-sm-down {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .w-maximize-sm-down {
    max-width: none !important;
    margin: 0 !important;
    align-self: stretch;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .w-5-md {
    width: 5%;
    flex: 0 1 5%;
    max-width: 5%;
  }
  .wml-5-md {
    margin-left: 5%;
  }
  .wmr-5-md {
    margin-right: 5%;
  }
  .wl-5-md {
    left: 5%;
  }
  .wmr-5-md {
    right: 5%;
  }
  .w-10-md {
    width: 10%;
    flex: 0 1 10%;
    max-width: 10%;
  }
  .wml-10-md {
    margin-left: 10%;
  }
  .wmr-10-md {
    margin-right: 10%;
  }
  .wl-10-md {
    left: 10%;
  }
  .wmr-10-md {
    right: 10%;
  }
  .w-15-md {
    width: 15%;
    flex: 0 1 15%;
    max-width: 15%;
  }
  .wml-15-md {
    margin-left: 15%;
  }
  .wmr-15-md {
    margin-right: 15%;
  }
  .wl-15-md {
    left: 15%;
  }
  .wmr-15-md {
    right: 15%;
  }
  .w-20-md {
    width: 20%;
    flex: 0 1 20%;
    max-width: 20%;
  }
  .wml-20-md {
    margin-left: 20%;
  }
  .wmr-20-md {
    margin-right: 20%;
  }
  .wl-20-md {
    left: 20%;
  }
  .wmr-20-md {
    right: 20%;
  }
  .w-25-md {
    width: 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
  .wml-25-md {
    margin-left: 25%;
  }
  .wmr-25-md {
    margin-right: 25%;
  }
  .wl-25-md {
    left: 25%;
  }
  .wmr-25-md {
    right: 25%;
  }
  .w-30-md {
    width: 30%;
    flex: 0 1 30%;
    max-width: 30%;
  }
  .wml-30-md {
    margin-left: 30%;
  }
  .wmr-30-md {
    margin-right: 30%;
  }
  .wl-30-md {
    left: 30%;
  }
  .wmr-30-md {
    right: 30%;
  }
  .w-35-md {
    width: 35%;
    flex: 0 1 35%;
    max-width: 35%;
  }
  .wml-35-md {
    margin-left: 35%;
  }
  .wmr-35-md {
    margin-right: 35%;
  }
  .wl-35-md {
    left: 35%;
  }
  .wmr-35-md {
    right: 35%;
  }
  .w-40-md {
    width: 40%;
    flex: 0 1 40%;
    max-width: 40%;
  }
  .wml-40-md {
    margin-left: 40%;
  }
  .wmr-40-md {
    margin-right: 40%;
  }
  .wl-40-md {
    left: 40%;
  }
  .wmr-40-md {
    right: 40%;
  }
  .w-45-md {
    width: 45%;
    flex: 0 1 45%;
    max-width: 45%;
  }
  .wml-45-md {
    margin-left: 45%;
  }
  .wmr-45-md {
    margin-right: 45%;
  }
  .wl-45-md {
    left: 45%;
  }
  .wmr-45-md {
    right: 45%;
  }
  .w-50-md {
    width: 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wml-50-md {
    margin-left: 50%;
  }
  .wmr-50-md {
    margin-right: 50%;
  }
  .wl-50-md {
    left: 50%;
  }
  .wmr-50-md {
    right: 50%;
  }
  .w-55-md {
    width: 55%;
    flex: 0 1 55%;
    max-width: 55%;
  }
  .wml-55-md {
    margin-left: 55%;
  }
  .wmr-55-md {
    margin-right: 55%;
  }
  .wl-55-md {
    left: 55%;
  }
  .wmr-55-md {
    right: 55%;
  }
  .w-60-md {
    width: 60%;
    flex: 0 1 60%;
    max-width: 60%;
  }
  .wml-60-md {
    margin-left: 60%;
  }
  .wmr-60-md {
    margin-right: 60%;
  }
  .wl-60-md {
    left: 60%;
  }
  .wmr-60-md {
    right: 60%;
  }
  .w-65-md {
    width: 65%;
    flex: 0 1 65%;
    max-width: 65%;
  }
  .wml-65-md {
    margin-left: 65%;
  }
  .wmr-65-md {
    margin-right: 65%;
  }
  .wl-65-md {
    left: 65%;
  }
  .wmr-65-md {
    right: 65%;
  }
  .w-70-md {
    width: 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
  .wml-70-md {
    margin-left: 70%;
  }
  .wmr-70-md {
    margin-right: 70%;
  }
  .wl-70-md {
    left: 70%;
  }
  .wmr-70-md {
    right: 70%;
  }
  .w-75-md {
    width: 75%;
    flex: 0 1 75%;
    max-width: 75%;
  }
  .wml-75-md {
    margin-left: 75%;
  }
  .wmr-75-md {
    margin-right: 75%;
  }
  .wl-75-md {
    left: 75%;
  }
  .wmr-75-md {
    right: 75%;
  }
  .w-80-md {
    width: 80%;
    flex: 0 1 80%;
    max-width: 80%;
  }
  .wml-80-md {
    margin-left: 80%;
  }
  .wmr-80-md {
    margin-right: 80%;
  }
  .wl-80-md {
    left: 80%;
  }
  .wmr-80-md {
    right: 80%;
  }
  .w-85-md {
    width: 85%;
    flex: 0 1 85%;
    max-width: 85%;
  }
  .wml-85-md {
    margin-left: 85%;
  }
  .wmr-85-md {
    margin-right: 85%;
  }
  .wl-85-md {
    left: 85%;
  }
  .wmr-85-md {
    right: 85%;
  }
  .w-90-md {
    width: 90%;
    flex: 0 1 90%;
    max-width: 90%;
  }
  .wml-90-md {
    margin-left: 90%;
  }
  .wmr-90-md {
    margin-right: 90%;
  }
  .wl-90-md {
    left: 90%;
  }
  .wmr-90-md {
    right: 90%;
  }
  .w-95-md {
    width: 95%;
    flex: 0 1 95%;
    max-width: 95%;
  }
  .wml-95-md {
    margin-left: 95%;
  }
  .wmr-95-md {
    margin-right: 95%;
  }
  .wl-95-md {
    left: 95%;
  }
  .wmr-95-md {
    right: 95%;
  }
  .w-100-md {
    width: 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .wml-100-md {
    margin-left: 100%;
  }
  .wmr-100-md {
    margin-right: 100%;
  }
  .wl-100-md {
    left: 100%;
  }
  .wmr-100-md {
    right: 100%;
  }
  .wml-auto-md {
    margin-left: auto !important;
  }
  .wmr-auto-md {
    margin-right: auto !important;
  }
  .w-33-md {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .w-auto-md {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .w-maximize-md {
    max-width: none !important;
    margin: 0 !important;
    align-self: stretch;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }
}

@media (min-width: 481px) {
  .w-5-md-up {
    width: 5%;
    flex: 0 1 5%;
    max-width: 5%;
  }
  .wml-5-md-up {
    margin-left: 5%;
  }
  .wmr-5-md-up {
    margin-right: 5%;
  }
  .wl-5-md-up {
    left: 5%;
  }
  .wmr-5-md-up {
    right: 5%;
  }
  .w-10-md-up {
    width: 10%;
    flex: 0 1 10%;
    max-width: 10%;
  }
  .wml-10-md-up {
    margin-left: 10%;
  }
  .wmr-10-md-up {
    margin-right: 10%;
  }
  .wl-10-md-up {
    left: 10%;
  }
  .wmr-10-md-up {
    right: 10%;
  }
  .w-15-md-up {
    width: 15%;
    flex: 0 1 15%;
    max-width: 15%;
  }
  .wml-15-md-up {
    margin-left: 15%;
  }
  .wmr-15-md-up {
    margin-right: 15%;
  }
  .wl-15-md-up {
    left: 15%;
  }
  .wmr-15-md-up {
    right: 15%;
  }
  .w-20-md-up {
    width: 20%;
    flex: 0 1 20%;
    max-width: 20%;
  }
  .wml-20-md-up {
    margin-left: 20%;
  }
  .wmr-20-md-up {
    margin-right: 20%;
  }
  .wl-20-md-up {
    left: 20%;
  }
  .wmr-20-md-up {
    right: 20%;
  }
  .w-25-md-up {
    width: 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
  .wml-25-md-up {
    margin-left: 25%;
  }
  .wmr-25-md-up {
    margin-right: 25%;
  }
  .wl-25-md-up {
    left: 25%;
  }
  .wmr-25-md-up {
    right: 25%;
  }
  .w-30-md-up {
    width: 30%;
    flex: 0 1 30%;
    max-width: 30%;
  }
  .wml-30-md-up {
    margin-left: 30%;
  }
  .wmr-30-md-up {
    margin-right: 30%;
  }
  .wl-30-md-up {
    left: 30%;
  }
  .wmr-30-md-up {
    right: 30%;
  }
  .w-35-md-up {
    width: 35%;
    flex: 0 1 35%;
    max-width: 35%;
  }
  .wml-35-md-up {
    margin-left: 35%;
  }
  .wmr-35-md-up {
    margin-right: 35%;
  }
  .wl-35-md-up {
    left: 35%;
  }
  .wmr-35-md-up {
    right: 35%;
  }
  .w-40-md-up {
    width: 40%;
    flex: 0 1 40%;
    max-width: 40%;
  }
  .wml-40-md-up {
    margin-left: 40%;
  }
  .wmr-40-md-up {
    margin-right: 40%;
  }
  .wl-40-md-up {
    left: 40%;
  }
  .wmr-40-md-up {
    right: 40%;
  }
  .w-45-md-up {
    width: 45%;
    flex: 0 1 45%;
    max-width: 45%;
  }
  .wml-45-md-up {
    margin-left: 45%;
  }
  .wmr-45-md-up {
    margin-right: 45%;
  }
  .wl-45-md-up {
    left: 45%;
  }
  .wmr-45-md-up {
    right: 45%;
  }
  .w-50-md-up {
    width: 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wml-50-md-up {
    margin-left: 50%;
  }
  .wmr-50-md-up {
    margin-right: 50%;
  }
  .wl-50-md-up {
    left: 50%;
  }
  .wmr-50-md-up {
    right: 50%;
  }
  .w-55-md-up {
    width: 55%;
    flex: 0 1 55%;
    max-width: 55%;
  }
  .wml-55-md-up {
    margin-left: 55%;
  }
  .wmr-55-md-up {
    margin-right: 55%;
  }
  .wl-55-md-up {
    left: 55%;
  }
  .wmr-55-md-up {
    right: 55%;
  }
  .w-60-md-up {
    width: 60%;
    flex: 0 1 60%;
    max-width: 60%;
  }
  .wml-60-md-up {
    margin-left: 60%;
  }
  .wmr-60-md-up {
    margin-right: 60%;
  }
  .wl-60-md-up {
    left: 60%;
  }
  .wmr-60-md-up {
    right: 60%;
  }
  .w-65-md-up {
    width: 65%;
    flex: 0 1 65%;
    max-width: 65%;
  }
  .wml-65-md-up {
    margin-left: 65%;
  }
  .wmr-65-md-up {
    margin-right: 65%;
  }
  .wl-65-md-up {
    left: 65%;
  }
  .wmr-65-md-up {
    right: 65%;
  }
  .w-70-md-up {
    width: 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
  .wml-70-md-up {
    margin-left: 70%;
  }
  .wmr-70-md-up {
    margin-right: 70%;
  }
  .wl-70-md-up {
    left: 70%;
  }
  .wmr-70-md-up {
    right: 70%;
  }
  .w-75-md-up {
    width: 75%;
    flex: 0 1 75%;
    max-width: 75%;
  }
  .wml-75-md-up {
    margin-left: 75%;
  }
  .wmr-75-md-up {
    margin-right: 75%;
  }
  .wl-75-md-up {
    left: 75%;
  }
  .wmr-75-md-up {
    right: 75%;
  }
  .w-80-md-up {
    width: 80%;
    flex: 0 1 80%;
    max-width: 80%;
  }
  .wml-80-md-up {
    margin-left: 80%;
  }
  .wmr-80-md-up {
    margin-right: 80%;
  }
  .wl-80-md-up {
    left: 80%;
  }
  .wmr-80-md-up {
    right: 80%;
  }
  .w-85-md-up {
    width: 85%;
    flex: 0 1 85%;
    max-width: 85%;
  }
  .wml-85-md-up {
    margin-left: 85%;
  }
  .wmr-85-md-up {
    margin-right: 85%;
  }
  .wl-85-md-up {
    left: 85%;
  }
  .wmr-85-md-up {
    right: 85%;
  }
  .w-90-md-up {
    width: 90%;
    flex: 0 1 90%;
    max-width: 90%;
  }
  .wml-90-md-up {
    margin-left: 90%;
  }
  .wmr-90-md-up {
    margin-right: 90%;
  }
  .wl-90-md-up {
    left: 90%;
  }
  .wmr-90-md-up {
    right: 90%;
  }
  .w-95-md-up {
    width: 95%;
    flex: 0 1 95%;
    max-width: 95%;
  }
  .wml-95-md-up {
    margin-left: 95%;
  }
  .wmr-95-md-up {
    margin-right: 95%;
  }
  .wl-95-md-up {
    left: 95%;
  }
  .wmr-95-md-up {
    right: 95%;
  }
  .w-100-md-up {
    width: 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .wml-100-md-up {
    margin-left: 100%;
  }
  .wmr-100-md-up {
    margin-right: 100%;
  }
  .wl-100-md-up {
    left: 100%;
  }
  .wmr-100-md-up {
    right: 100%;
  }
  .wml-auto-md-up {
    margin-left: auto !important;
  }
  .wmr-auto-md-up {
    margin-right: auto !important;
  }
  .w-33-md-up {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .w-auto-md-up {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .w-maximize-md-up {
    max-width: none !important;
    margin: 0 !important;
    align-self: stretch;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }
}

@media (max-width: 767px) {
  .w-5-md-down {
    width: 5%;
    flex: 0 1 5%;
    max-width: 5%;
  }
  .wml-5-md-down {
    margin-left: 5%;
  }
  .wmr-5-md-down {
    margin-right: 5%;
  }
  .wl-5-md-down {
    left: 5%;
  }
  .wmr-5-md-down {
    right: 5%;
  }
  .w-10-md-down {
    width: 10%;
    flex: 0 1 10%;
    max-width: 10%;
  }
  .wml-10-md-down {
    margin-left: 10%;
  }
  .wmr-10-md-down {
    margin-right: 10%;
  }
  .wl-10-md-down {
    left: 10%;
  }
  .wmr-10-md-down {
    right: 10%;
  }
  .w-15-md-down {
    width: 15%;
    flex: 0 1 15%;
    max-width: 15%;
  }
  .wml-15-md-down {
    margin-left: 15%;
  }
  .wmr-15-md-down {
    margin-right: 15%;
  }
  .wl-15-md-down {
    left: 15%;
  }
  .wmr-15-md-down {
    right: 15%;
  }
  .w-20-md-down {
    width: 20%;
    flex: 0 1 20%;
    max-width: 20%;
  }
  .wml-20-md-down {
    margin-left: 20%;
  }
  .wmr-20-md-down {
    margin-right: 20%;
  }
  .wl-20-md-down {
    left: 20%;
  }
  .wmr-20-md-down {
    right: 20%;
  }
  .w-25-md-down {
    width: 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
  .wml-25-md-down {
    margin-left: 25%;
  }
  .wmr-25-md-down {
    margin-right: 25%;
  }
  .wl-25-md-down {
    left: 25%;
  }
  .wmr-25-md-down {
    right: 25%;
  }
  .w-30-md-down {
    width: 30%;
    flex: 0 1 30%;
    max-width: 30%;
  }
  .wml-30-md-down {
    margin-left: 30%;
  }
  .wmr-30-md-down {
    margin-right: 30%;
  }
  .wl-30-md-down {
    left: 30%;
  }
  .wmr-30-md-down {
    right: 30%;
  }
  .w-35-md-down {
    width: 35%;
    flex: 0 1 35%;
    max-width: 35%;
  }
  .wml-35-md-down {
    margin-left: 35%;
  }
  .wmr-35-md-down {
    margin-right: 35%;
  }
  .wl-35-md-down {
    left: 35%;
  }
  .wmr-35-md-down {
    right: 35%;
  }
  .w-40-md-down {
    width: 40%;
    flex: 0 1 40%;
    max-width: 40%;
  }
  .wml-40-md-down {
    margin-left: 40%;
  }
  .wmr-40-md-down {
    margin-right: 40%;
  }
  .wl-40-md-down {
    left: 40%;
  }
  .wmr-40-md-down {
    right: 40%;
  }
  .w-45-md-down {
    width: 45%;
    flex: 0 1 45%;
    max-width: 45%;
  }
  .wml-45-md-down {
    margin-left: 45%;
  }
  .wmr-45-md-down {
    margin-right: 45%;
  }
  .wl-45-md-down {
    left: 45%;
  }
  .wmr-45-md-down {
    right: 45%;
  }
  .w-50-md-down {
    width: 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wml-50-md-down {
    margin-left: 50%;
  }
  .wmr-50-md-down {
    margin-right: 50%;
  }
  .wl-50-md-down {
    left: 50%;
  }
  .wmr-50-md-down {
    right: 50%;
  }
  .w-55-md-down {
    width: 55%;
    flex: 0 1 55%;
    max-width: 55%;
  }
  .wml-55-md-down {
    margin-left: 55%;
  }
  .wmr-55-md-down {
    margin-right: 55%;
  }
  .wl-55-md-down {
    left: 55%;
  }
  .wmr-55-md-down {
    right: 55%;
  }
  .w-60-md-down {
    width: 60%;
    flex: 0 1 60%;
    max-width: 60%;
  }
  .wml-60-md-down {
    margin-left: 60%;
  }
  .wmr-60-md-down {
    margin-right: 60%;
  }
  .wl-60-md-down {
    left: 60%;
  }
  .wmr-60-md-down {
    right: 60%;
  }
  .w-65-md-down {
    width: 65%;
    flex: 0 1 65%;
    max-width: 65%;
  }
  .wml-65-md-down {
    margin-left: 65%;
  }
  .wmr-65-md-down {
    margin-right: 65%;
  }
  .wl-65-md-down {
    left: 65%;
  }
  .wmr-65-md-down {
    right: 65%;
  }
  .w-70-md-down {
    width: 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
  .wml-70-md-down {
    margin-left: 70%;
  }
  .wmr-70-md-down {
    margin-right: 70%;
  }
  .wl-70-md-down {
    left: 70%;
  }
  .wmr-70-md-down {
    right: 70%;
  }
  .w-75-md-down {
    width: 75%;
    flex: 0 1 75%;
    max-width: 75%;
  }
  .wml-75-md-down {
    margin-left: 75%;
  }
  .wmr-75-md-down {
    margin-right: 75%;
  }
  .wl-75-md-down {
    left: 75%;
  }
  .wmr-75-md-down {
    right: 75%;
  }
  .w-80-md-down {
    width: 80%;
    flex: 0 1 80%;
    max-width: 80%;
  }
  .wml-80-md-down {
    margin-left: 80%;
  }
  .wmr-80-md-down {
    margin-right: 80%;
  }
  .wl-80-md-down {
    left: 80%;
  }
  .wmr-80-md-down {
    right: 80%;
  }
  .w-85-md-down {
    width: 85%;
    flex: 0 1 85%;
    max-width: 85%;
  }
  .wml-85-md-down {
    margin-left: 85%;
  }
  .wmr-85-md-down {
    margin-right: 85%;
  }
  .wl-85-md-down {
    left: 85%;
  }
  .wmr-85-md-down {
    right: 85%;
  }
  .w-90-md-down {
    width: 90%;
    flex: 0 1 90%;
    max-width: 90%;
  }
  .wml-90-md-down {
    margin-left: 90%;
  }
  .wmr-90-md-down {
    margin-right: 90%;
  }
  .wl-90-md-down {
    left: 90%;
  }
  .wmr-90-md-down {
    right: 90%;
  }
  .w-95-md-down {
    width: 95%;
    flex: 0 1 95%;
    max-width: 95%;
  }
  .wml-95-md-down {
    margin-left: 95%;
  }
  .wmr-95-md-down {
    margin-right: 95%;
  }
  .wl-95-md-down {
    left: 95%;
  }
  .wmr-95-md-down {
    right: 95%;
  }
  .w-100-md-down {
    width: 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .wml-100-md-down {
    margin-left: 100%;
  }
  .wmr-100-md-down {
    margin-right: 100%;
  }
  .wl-100-md-down {
    left: 100%;
  }
  .wmr-100-md-down {
    right: 100%;
  }
  .wml-auto-md-down {
    margin-left: auto !important;
  }
  .wmr-auto-md-down {
    margin-right: auto !important;
  }
  .w-33-md-down {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .w-auto-md-down {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .w-maximize-md-down {
    max-width: none !important;
    margin: 0 !important;
    align-self: stretch;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .w-5-tb {
    width: 5%;
    flex: 0 1 5%;
    max-width: 5%;
  }
  .wml-5-tb {
    margin-left: 5%;
  }
  .wmr-5-tb {
    margin-right: 5%;
  }
  .wl-5-tb {
    left: 5%;
  }
  .wmr-5-tb {
    right: 5%;
  }
  .w-10-tb {
    width: 10%;
    flex: 0 1 10%;
    max-width: 10%;
  }
  .wml-10-tb {
    margin-left: 10%;
  }
  .wmr-10-tb {
    margin-right: 10%;
  }
  .wl-10-tb {
    left: 10%;
  }
  .wmr-10-tb {
    right: 10%;
  }
  .w-15-tb {
    width: 15%;
    flex: 0 1 15%;
    max-width: 15%;
  }
  .wml-15-tb {
    margin-left: 15%;
  }
  .wmr-15-tb {
    margin-right: 15%;
  }
  .wl-15-tb {
    left: 15%;
  }
  .wmr-15-tb {
    right: 15%;
  }
  .w-20-tb {
    width: 20%;
    flex: 0 1 20%;
    max-width: 20%;
  }
  .wml-20-tb {
    margin-left: 20%;
  }
  .wmr-20-tb {
    margin-right: 20%;
  }
  .wl-20-tb {
    left: 20%;
  }
  .wmr-20-tb {
    right: 20%;
  }
  .w-25-tb {
    width: 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
  .wml-25-tb {
    margin-left: 25%;
  }
  .wmr-25-tb {
    margin-right: 25%;
  }
  .wl-25-tb {
    left: 25%;
  }
  .wmr-25-tb {
    right: 25%;
  }
  .w-30-tb {
    width: 30%;
    flex: 0 1 30%;
    max-width: 30%;
  }
  .wml-30-tb {
    margin-left: 30%;
  }
  .wmr-30-tb {
    margin-right: 30%;
  }
  .wl-30-tb {
    left: 30%;
  }
  .wmr-30-tb {
    right: 30%;
  }
  .w-35-tb {
    width: 35%;
    flex: 0 1 35%;
    max-width: 35%;
  }
  .wml-35-tb {
    margin-left: 35%;
  }
  .wmr-35-tb {
    margin-right: 35%;
  }
  .wl-35-tb {
    left: 35%;
  }
  .wmr-35-tb {
    right: 35%;
  }
  .w-40-tb {
    width: 40%;
    flex: 0 1 40%;
    max-width: 40%;
  }
  .wml-40-tb {
    margin-left: 40%;
  }
  .wmr-40-tb {
    margin-right: 40%;
  }
  .wl-40-tb {
    left: 40%;
  }
  .wmr-40-tb {
    right: 40%;
  }
  .w-45-tb {
    width: 45%;
    flex: 0 1 45%;
    max-width: 45%;
  }
  .wml-45-tb {
    margin-left: 45%;
  }
  .wmr-45-tb {
    margin-right: 45%;
  }
  .wl-45-tb {
    left: 45%;
  }
  .wmr-45-tb {
    right: 45%;
  }
  .w-50-tb {
    width: 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wml-50-tb {
    margin-left: 50%;
  }
  .wmr-50-tb {
    margin-right: 50%;
  }
  .wl-50-tb {
    left: 50%;
  }
  .wmr-50-tb {
    right: 50%;
  }
  .w-55-tb {
    width: 55%;
    flex: 0 1 55%;
    max-width: 55%;
  }
  .wml-55-tb {
    margin-left: 55%;
  }
  .wmr-55-tb {
    margin-right: 55%;
  }
  .wl-55-tb {
    left: 55%;
  }
  .wmr-55-tb {
    right: 55%;
  }
  .w-60-tb {
    width: 60%;
    flex: 0 1 60%;
    max-width: 60%;
  }
  .wml-60-tb {
    margin-left: 60%;
  }
  .wmr-60-tb {
    margin-right: 60%;
  }
  .wl-60-tb {
    left: 60%;
  }
  .wmr-60-tb {
    right: 60%;
  }
  .w-65-tb {
    width: 65%;
    flex: 0 1 65%;
    max-width: 65%;
  }
  .wml-65-tb {
    margin-left: 65%;
  }
  .wmr-65-tb {
    margin-right: 65%;
  }
  .wl-65-tb {
    left: 65%;
  }
  .wmr-65-tb {
    right: 65%;
  }
  .w-70-tb {
    width: 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
  .wml-70-tb {
    margin-left: 70%;
  }
  .wmr-70-tb {
    margin-right: 70%;
  }
  .wl-70-tb {
    left: 70%;
  }
  .wmr-70-tb {
    right: 70%;
  }
  .w-75-tb {
    width: 75%;
    flex: 0 1 75%;
    max-width: 75%;
  }
  .wml-75-tb {
    margin-left: 75%;
  }
  .wmr-75-tb {
    margin-right: 75%;
  }
  .wl-75-tb {
    left: 75%;
  }
  .wmr-75-tb {
    right: 75%;
  }
  .w-80-tb {
    width: 80%;
    flex: 0 1 80%;
    max-width: 80%;
  }
  .wml-80-tb {
    margin-left: 80%;
  }
  .wmr-80-tb {
    margin-right: 80%;
  }
  .wl-80-tb {
    left: 80%;
  }
  .wmr-80-tb {
    right: 80%;
  }
  .w-85-tb {
    width: 85%;
    flex: 0 1 85%;
    max-width: 85%;
  }
  .wml-85-tb {
    margin-left: 85%;
  }
  .wmr-85-tb {
    margin-right: 85%;
  }
  .wl-85-tb {
    left: 85%;
  }
  .wmr-85-tb {
    right: 85%;
  }
  .w-90-tb {
    width: 90%;
    flex: 0 1 90%;
    max-width: 90%;
  }
  .wml-90-tb {
    margin-left: 90%;
  }
  .wmr-90-tb {
    margin-right: 90%;
  }
  .wl-90-tb {
    left: 90%;
  }
  .wmr-90-tb {
    right: 90%;
  }
  .w-95-tb {
    width: 95%;
    flex: 0 1 95%;
    max-width: 95%;
  }
  .wml-95-tb {
    margin-left: 95%;
  }
  .wmr-95-tb {
    margin-right: 95%;
  }
  .wl-95-tb {
    left: 95%;
  }
  .wmr-95-tb {
    right: 95%;
  }
  .w-100-tb {
    width: 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .wml-100-tb {
    margin-left: 100%;
  }
  .wmr-100-tb {
    margin-right: 100%;
  }
  .wl-100-tb {
    left: 100%;
  }
  .wmr-100-tb {
    right: 100%;
  }
  .wml-auto-tb {
    margin-left: auto !important;
  }
  .wmr-auto-tb {
    margin-right: auto !important;
  }
  .w-33-tb {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .w-auto-tb {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .w-maximize-tb {
    max-width: none !important;
    margin: 0 !important;
    align-self: stretch;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }
}

@media (min-width: 768px) {
  .w-5-tb-up {
    width: 5%;
    flex: 0 1 5%;
    max-width: 5%;
  }
  .wml-5-tb-up {
    margin-left: 5%;
  }
  .wmr-5-tb-up {
    margin-right: 5%;
  }
  .wl-5-tb-up {
    left: 5%;
  }
  .wmr-5-tb-up {
    right: 5%;
  }
  .w-10-tb-up {
    width: 10%;
    flex: 0 1 10%;
    max-width: 10%;
  }
  .wml-10-tb-up {
    margin-left: 10%;
  }
  .wmr-10-tb-up {
    margin-right: 10%;
  }
  .wl-10-tb-up {
    left: 10%;
  }
  .wmr-10-tb-up {
    right: 10%;
  }
  .w-15-tb-up {
    width: 15%;
    flex: 0 1 15%;
    max-width: 15%;
  }
  .wml-15-tb-up {
    margin-left: 15%;
  }
  .wmr-15-tb-up {
    margin-right: 15%;
  }
  .wl-15-tb-up {
    left: 15%;
  }
  .wmr-15-tb-up {
    right: 15%;
  }
  .w-20-tb-up {
    width: 20%;
    flex: 0 1 20%;
    max-width: 20%;
  }
  .wml-20-tb-up {
    margin-left: 20%;
  }
  .wmr-20-tb-up {
    margin-right: 20%;
  }
  .wl-20-tb-up {
    left: 20%;
  }
  .wmr-20-tb-up {
    right: 20%;
  }
  .w-25-tb-up {
    width: 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
  .wml-25-tb-up {
    margin-left: 25%;
  }
  .wmr-25-tb-up {
    margin-right: 25%;
  }
  .wl-25-tb-up {
    left: 25%;
  }
  .wmr-25-tb-up {
    right: 25%;
  }
  .w-30-tb-up {
    width: 30%;
    flex: 0 1 30%;
    max-width: 30%;
  }
  .wml-30-tb-up {
    margin-left: 30%;
  }
  .wmr-30-tb-up {
    margin-right: 30%;
  }
  .wl-30-tb-up {
    left: 30%;
  }
  .wmr-30-tb-up {
    right: 30%;
  }
  .w-35-tb-up {
    width: 35%;
    flex: 0 1 35%;
    max-width: 35%;
  }
  .wml-35-tb-up {
    margin-left: 35%;
  }
  .wmr-35-tb-up {
    margin-right: 35%;
  }
  .wl-35-tb-up {
    left: 35%;
  }
  .wmr-35-tb-up {
    right: 35%;
  }
  .w-40-tb-up {
    width: 40%;
    flex: 0 1 40%;
    max-width: 40%;
  }
  .wml-40-tb-up {
    margin-left: 40%;
  }
  .wmr-40-tb-up {
    margin-right: 40%;
  }
  .wl-40-tb-up {
    left: 40%;
  }
  .wmr-40-tb-up {
    right: 40%;
  }
  .w-45-tb-up {
    width: 45%;
    flex: 0 1 45%;
    max-width: 45%;
  }
  .wml-45-tb-up {
    margin-left: 45%;
  }
  .wmr-45-tb-up {
    margin-right: 45%;
  }
  .wl-45-tb-up {
    left: 45%;
  }
  .wmr-45-tb-up {
    right: 45%;
  }
  .w-50-tb-up {
    width: 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wml-50-tb-up {
    margin-left: 50%;
  }
  .wmr-50-tb-up {
    margin-right: 50%;
  }
  .wl-50-tb-up {
    left: 50%;
  }
  .wmr-50-tb-up {
    right: 50%;
  }
  .w-55-tb-up {
    width: 55%;
    flex: 0 1 55%;
    max-width: 55%;
  }
  .wml-55-tb-up {
    margin-left: 55%;
  }
  .wmr-55-tb-up {
    margin-right: 55%;
  }
  .wl-55-tb-up {
    left: 55%;
  }
  .wmr-55-tb-up {
    right: 55%;
  }
  .w-60-tb-up {
    width: 60%;
    flex: 0 1 60%;
    max-width: 60%;
  }
  .wml-60-tb-up {
    margin-left: 60%;
  }
  .wmr-60-tb-up {
    margin-right: 60%;
  }
  .wl-60-tb-up {
    left: 60%;
  }
  .wmr-60-tb-up {
    right: 60%;
  }
  .w-65-tb-up {
    width: 65%;
    flex: 0 1 65%;
    max-width: 65%;
  }
  .wml-65-tb-up {
    margin-left: 65%;
  }
  .wmr-65-tb-up {
    margin-right: 65%;
  }
  .wl-65-tb-up {
    left: 65%;
  }
  .wmr-65-tb-up {
    right: 65%;
  }
  .w-70-tb-up {
    width: 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
  .wml-70-tb-up {
    margin-left: 70%;
  }
  .wmr-70-tb-up {
    margin-right: 70%;
  }
  .wl-70-tb-up {
    left: 70%;
  }
  .wmr-70-tb-up {
    right: 70%;
  }
  .w-75-tb-up {
    width: 75%;
    flex: 0 1 75%;
    max-width: 75%;
  }
  .wml-75-tb-up {
    margin-left: 75%;
  }
  .wmr-75-tb-up {
    margin-right: 75%;
  }
  .wl-75-tb-up {
    left: 75%;
  }
  .wmr-75-tb-up {
    right: 75%;
  }
  .w-80-tb-up {
    width: 80%;
    flex: 0 1 80%;
    max-width: 80%;
  }
  .wml-80-tb-up {
    margin-left: 80%;
  }
  .wmr-80-tb-up {
    margin-right: 80%;
  }
  .wl-80-tb-up {
    left: 80%;
  }
  .wmr-80-tb-up {
    right: 80%;
  }
  .w-85-tb-up {
    width: 85%;
    flex: 0 1 85%;
    max-width: 85%;
  }
  .wml-85-tb-up {
    margin-left: 85%;
  }
  .wmr-85-tb-up {
    margin-right: 85%;
  }
  .wl-85-tb-up {
    left: 85%;
  }
  .wmr-85-tb-up {
    right: 85%;
  }
  .w-90-tb-up {
    width: 90%;
    flex: 0 1 90%;
    max-width: 90%;
  }
  .wml-90-tb-up {
    margin-left: 90%;
  }
  .wmr-90-tb-up {
    margin-right: 90%;
  }
  .wl-90-tb-up {
    left: 90%;
  }
  .wmr-90-tb-up {
    right: 90%;
  }
  .w-95-tb-up {
    width: 95%;
    flex: 0 1 95%;
    max-width: 95%;
  }
  .wml-95-tb-up {
    margin-left: 95%;
  }
  .wmr-95-tb-up {
    margin-right: 95%;
  }
  .wl-95-tb-up {
    left: 95%;
  }
  .wmr-95-tb-up {
    right: 95%;
  }
  .w-100-tb-up {
    width: 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .wml-100-tb-up {
    margin-left: 100%;
  }
  .wmr-100-tb-up {
    margin-right: 100%;
  }
  .wl-100-tb-up {
    left: 100%;
  }
  .wmr-100-tb-up {
    right: 100%;
  }
  .wml-auto-tb-up {
    margin-left: auto !important;
  }
  .wmr-auto-tb-up {
    margin-right: auto !important;
  }
  .w-33-tb-up {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .w-auto-tb-up {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .w-maximize-tb-up {
    max-width: none !important;
    margin: 0 !important;
    align-self: stretch;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }
}

@media (max-width: 1024px) {
  .w-5-tb-down {
    width: 5%;
    flex: 0 1 5%;
    max-width: 5%;
  }
  .wml-5-tb-down {
    margin-left: 5%;
  }
  .wmr-5-tb-down {
    margin-right: 5%;
  }
  .wl-5-tb-down {
    left: 5%;
  }
  .wmr-5-tb-down {
    right: 5%;
  }
  .w-10-tb-down {
    width: 10%;
    flex: 0 1 10%;
    max-width: 10%;
  }
  .wml-10-tb-down {
    margin-left: 10%;
  }
  .wmr-10-tb-down {
    margin-right: 10%;
  }
  .wl-10-tb-down {
    left: 10%;
  }
  .wmr-10-tb-down {
    right: 10%;
  }
  .w-15-tb-down {
    width: 15%;
    flex: 0 1 15%;
    max-width: 15%;
  }
  .wml-15-tb-down {
    margin-left: 15%;
  }
  .wmr-15-tb-down {
    margin-right: 15%;
  }
  .wl-15-tb-down {
    left: 15%;
  }
  .wmr-15-tb-down {
    right: 15%;
  }
  .w-20-tb-down {
    width: 20%;
    flex: 0 1 20%;
    max-width: 20%;
  }
  .wml-20-tb-down {
    margin-left: 20%;
  }
  .wmr-20-tb-down {
    margin-right: 20%;
  }
  .wl-20-tb-down {
    left: 20%;
  }
  .wmr-20-tb-down {
    right: 20%;
  }
  .w-25-tb-down {
    width: 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
  .wml-25-tb-down {
    margin-left: 25%;
  }
  .wmr-25-tb-down {
    margin-right: 25%;
  }
  .wl-25-tb-down {
    left: 25%;
  }
  .wmr-25-tb-down {
    right: 25%;
  }
  .w-30-tb-down {
    width: 30%;
    flex: 0 1 30%;
    max-width: 30%;
  }
  .wml-30-tb-down {
    margin-left: 30%;
  }
  .wmr-30-tb-down {
    margin-right: 30%;
  }
  .wl-30-tb-down {
    left: 30%;
  }
  .wmr-30-tb-down {
    right: 30%;
  }
  .w-35-tb-down {
    width: 35%;
    flex: 0 1 35%;
    max-width: 35%;
  }
  .wml-35-tb-down {
    margin-left: 35%;
  }
  .wmr-35-tb-down {
    margin-right: 35%;
  }
  .wl-35-tb-down {
    left: 35%;
  }
  .wmr-35-tb-down {
    right: 35%;
  }
  .w-40-tb-down {
    width: 40%;
    flex: 0 1 40%;
    max-width: 40%;
  }
  .wml-40-tb-down {
    margin-left: 40%;
  }
  .wmr-40-tb-down {
    margin-right: 40%;
  }
  .wl-40-tb-down {
    left: 40%;
  }
  .wmr-40-tb-down {
    right: 40%;
  }
  .w-45-tb-down {
    width: 45%;
    flex: 0 1 45%;
    max-width: 45%;
  }
  .wml-45-tb-down {
    margin-left: 45%;
  }
  .wmr-45-tb-down {
    margin-right: 45%;
  }
  .wl-45-tb-down {
    left: 45%;
  }
  .wmr-45-tb-down {
    right: 45%;
  }
  .w-50-tb-down {
    width: 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wml-50-tb-down {
    margin-left: 50%;
  }
  .wmr-50-tb-down {
    margin-right: 50%;
  }
  .wl-50-tb-down {
    left: 50%;
  }
  .wmr-50-tb-down {
    right: 50%;
  }
  .w-55-tb-down {
    width: 55%;
    flex: 0 1 55%;
    max-width: 55%;
  }
  .wml-55-tb-down {
    margin-left: 55%;
  }
  .wmr-55-tb-down {
    margin-right: 55%;
  }
  .wl-55-tb-down {
    left: 55%;
  }
  .wmr-55-tb-down {
    right: 55%;
  }
  .w-60-tb-down {
    width: 60%;
    flex: 0 1 60%;
    max-width: 60%;
  }
  .wml-60-tb-down {
    margin-left: 60%;
  }
  .wmr-60-tb-down {
    margin-right: 60%;
  }
  .wl-60-tb-down {
    left: 60%;
  }
  .wmr-60-tb-down {
    right: 60%;
  }
  .w-65-tb-down {
    width: 65%;
    flex: 0 1 65%;
    max-width: 65%;
  }
  .wml-65-tb-down {
    margin-left: 65%;
  }
  .wmr-65-tb-down {
    margin-right: 65%;
  }
  .wl-65-tb-down {
    left: 65%;
  }
  .wmr-65-tb-down {
    right: 65%;
  }
  .w-70-tb-down {
    width: 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
  .wml-70-tb-down {
    margin-left: 70%;
  }
  .wmr-70-tb-down {
    margin-right: 70%;
  }
  .wl-70-tb-down {
    left: 70%;
  }
  .wmr-70-tb-down {
    right: 70%;
  }
  .w-75-tb-down {
    width: 75%;
    flex: 0 1 75%;
    max-width: 75%;
  }
  .wml-75-tb-down {
    margin-left: 75%;
  }
  .wmr-75-tb-down {
    margin-right: 75%;
  }
  .wl-75-tb-down {
    left: 75%;
  }
  .wmr-75-tb-down {
    right: 75%;
  }
  .w-80-tb-down {
    width: 80%;
    flex: 0 1 80%;
    max-width: 80%;
  }
  .wml-80-tb-down {
    margin-left: 80%;
  }
  .wmr-80-tb-down {
    margin-right: 80%;
  }
  .wl-80-tb-down {
    left: 80%;
  }
  .wmr-80-tb-down {
    right: 80%;
  }
  .w-85-tb-down {
    width: 85%;
    flex: 0 1 85%;
    max-width: 85%;
  }
  .wml-85-tb-down {
    margin-left: 85%;
  }
  .wmr-85-tb-down {
    margin-right: 85%;
  }
  .wl-85-tb-down {
    left: 85%;
  }
  .wmr-85-tb-down {
    right: 85%;
  }
  .w-90-tb-down {
    width: 90%;
    flex: 0 1 90%;
    max-width: 90%;
  }
  .wml-90-tb-down {
    margin-left: 90%;
  }
  .wmr-90-tb-down {
    margin-right: 90%;
  }
  .wl-90-tb-down {
    left: 90%;
  }
  .wmr-90-tb-down {
    right: 90%;
  }
  .w-95-tb-down {
    width: 95%;
    flex: 0 1 95%;
    max-width: 95%;
  }
  .wml-95-tb-down {
    margin-left: 95%;
  }
  .wmr-95-tb-down {
    margin-right: 95%;
  }
  .wl-95-tb-down {
    left: 95%;
  }
  .wmr-95-tb-down {
    right: 95%;
  }
  .w-100-tb-down {
    width: 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .wml-100-tb-down {
    margin-left: 100%;
  }
  .wmr-100-tb-down {
    margin-right: 100%;
  }
  .wl-100-tb-down {
    left: 100%;
  }
  .wmr-100-tb-down {
    right: 100%;
  }
  .wml-auto-tb-down {
    margin-left: auto !important;
  }
  .wmr-auto-tb-down {
    margin-right: auto !important;
  }
  .w-33-tb-down {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .w-auto-tb-down {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .w-maximize-tb-down {
    max-width: none !important;
    margin: 0 !important;
    align-self: stretch;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .w-5-dt {
    width: 5%;
    flex: 0 1 5%;
    max-width: 5%;
  }
  .wml-5-dt {
    margin-left: 5%;
  }
  .wmr-5-dt {
    margin-right: 5%;
  }
  .wl-5-dt {
    left: 5%;
  }
  .wmr-5-dt {
    right: 5%;
  }
  .w-10-dt {
    width: 10%;
    flex: 0 1 10%;
    max-width: 10%;
  }
  .wml-10-dt {
    margin-left: 10%;
  }
  .wmr-10-dt {
    margin-right: 10%;
  }
  .wl-10-dt {
    left: 10%;
  }
  .wmr-10-dt {
    right: 10%;
  }
  .w-15-dt {
    width: 15%;
    flex: 0 1 15%;
    max-width: 15%;
  }
  .wml-15-dt {
    margin-left: 15%;
  }
  .wmr-15-dt {
    margin-right: 15%;
  }
  .wl-15-dt {
    left: 15%;
  }
  .wmr-15-dt {
    right: 15%;
  }
  .w-20-dt {
    width: 20%;
    flex: 0 1 20%;
    max-width: 20%;
  }
  .wml-20-dt {
    margin-left: 20%;
  }
  .wmr-20-dt {
    margin-right: 20%;
  }
  .wl-20-dt {
    left: 20%;
  }
  .wmr-20-dt {
    right: 20%;
  }
  .w-25-dt {
    width: 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
  .wml-25-dt {
    margin-left: 25%;
  }
  .wmr-25-dt {
    margin-right: 25%;
  }
  .wl-25-dt {
    left: 25%;
  }
  .wmr-25-dt {
    right: 25%;
  }
  .w-30-dt {
    width: 30%;
    flex: 0 1 30%;
    max-width: 30%;
  }
  .wml-30-dt {
    margin-left: 30%;
  }
  .wmr-30-dt {
    margin-right: 30%;
  }
  .wl-30-dt {
    left: 30%;
  }
  .wmr-30-dt {
    right: 30%;
  }
  .w-35-dt {
    width: 35%;
    flex: 0 1 35%;
    max-width: 35%;
  }
  .wml-35-dt {
    margin-left: 35%;
  }
  .wmr-35-dt {
    margin-right: 35%;
  }
  .wl-35-dt {
    left: 35%;
  }
  .wmr-35-dt {
    right: 35%;
  }
  .w-40-dt {
    width: 40%;
    flex: 0 1 40%;
    max-width: 40%;
  }
  .wml-40-dt {
    margin-left: 40%;
  }
  .wmr-40-dt {
    margin-right: 40%;
  }
  .wl-40-dt {
    left: 40%;
  }
  .wmr-40-dt {
    right: 40%;
  }
  .w-45-dt {
    width: 45%;
    flex: 0 1 45%;
    max-width: 45%;
  }
  .wml-45-dt {
    margin-left: 45%;
  }
  .wmr-45-dt {
    margin-right: 45%;
  }
  .wl-45-dt {
    left: 45%;
  }
  .wmr-45-dt {
    right: 45%;
  }
  .w-50-dt {
    width: 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wml-50-dt {
    margin-left: 50%;
  }
  .wmr-50-dt {
    margin-right: 50%;
  }
  .wl-50-dt {
    left: 50%;
  }
  .wmr-50-dt {
    right: 50%;
  }
  .w-55-dt {
    width: 55%;
    flex: 0 1 55%;
    max-width: 55%;
  }
  .wml-55-dt {
    margin-left: 55%;
  }
  .wmr-55-dt {
    margin-right: 55%;
  }
  .wl-55-dt {
    left: 55%;
  }
  .wmr-55-dt {
    right: 55%;
  }
  .w-60-dt {
    width: 60%;
    flex: 0 1 60%;
    max-width: 60%;
  }
  .wml-60-dt {
    margin-left: 60%;
  }
  .wmr-60-dt {
    margin-right: 60%;
  }
  .wl-60-dt {
    left: 60%;
  }
  .wmr-60-dt {
    right: 60%;
  }
  .w-65-dt {
    width: 65%;
    flex: 0 1 65%;
    max-width: 65%;
  }
  .wml-65-dt {
    margin-left: 65%;
  }
  .wmr-65-dt {
    margin-right: 65%;
  }
  .wl-65-dt {
    left: 65%;
  }
  .wmr-65-dt {
    right: 65%;
  }
  .w-70-dt {
    width: 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
  .wml-70-dt {
    margin-left: 70%;
  }
  .wmr-70-dt {
    margin-right: 70%;
  }
  .wl-70-dt {
    left: 70%;
  }
  .wmr-70-dt {
    right: 70%;
  }
  .w-75-dt {
    width: 75%;
    flex: 0 1 75%;
    max-width: 75%;
  }
  .wml-75-dt {
    margin-left: 75%;
  }
  .wmr-75-dt {
    margin-right: 75%;
  }
  .wl-75-dt {
    left: 75%;
  }
  .wmr-75-dt {
    right: 75%;
  }
  .w-80-dt {
    width: 80%;
    flex: 0 1 80%;
    max-width: 80%;
  }
  .wml-80-dt {
    margin-left: 80%;
  }
  .wmr-80-dt {
    margin-right: 80%;
  }
  .wl-80-dt {
    left: 80%;
  }
  .wmr-80-dt {
    right: 80%;
  }
  .w-85-dt {
    width: 85%;
    flex: 0 1 85%;
    max-width: 85%;
  }
  .wml-85-dt {
    margin-left: 85%;
  }
  .wmr-85-dt {
    margin-right: 85%;
  }
  .wl-85-dt {
    left: 85%;
  }
  .wmr-85-dt {
    right: 85%;
  }
  .w-90-dt {
    width: 90%;
    flex: 0 1 90%;
    max-width: 90%;
  }
  .wml-90-dt {
    margin-left: 90%;
  }
  .wmr-90-dt {
    margin-right: 90%;
  }
  .wl-90-dt {
    left: 90%;
  }
  .wmr-90-dt {
    right: 90%;
  }
  .w-95-dt {
    width: 95%;
    flex: 0 1 95%;
    max-width: 95%;
  }
  .wml-95-dt {
    margin-left: 95%;
  }
  .wmr-95-dt {
    margin-right: 95%;
  }
  .wl-95-dt {
    left: 95%;
  }
  .wmr-95-dt {
    right: 95%;
  }
  .w-100-dt {
    width: 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .wml-100-dt {
    margin-left: 100%;
  }
  .wmr-100-dt {
    margin-right: 100%;
  }
  .wl-100-dt {
    left: 100%;
  }
  .wmr-100-dt {
    right: 100%;
  }
  .wml-auto-dt {
    margin-left: auto !important;
  }
  .wmr-auto-dt {
    margin-right: auto !important;
  }
  .w-33-dt {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .w-auto-dt {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .w-maximize-dt {
    max-width: none !important;
    margin: 0 !important;
    align-self: stretch;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }
}

@media (min-width: 1025px) {
  .w-5-dt-up {
    width: 5%;
    flex: 0 1 5%;
    max-width: 5%;
  }
  .wml-5-dt-up {
    margin-left: 5%;
  }
  .wmr-5-dt-up {
    margin-right: 5%;
  }
  .wl-5-dt-up {
    left: 5%;
  }
  .wmr-5-dt-up {
    right: 5%;
  }
  .w-10-dt-up {
    width: 10%;
    flex: 0 1 10%;
    max-width: 10%;
  }
  .wml-10-dt-up {
    margin-left: 10%;
  }
  .wmr-10-dt-up {
    margin-right: 10%;
  }
  .wl-10-dt-up {
    left: 10%;
  }
  .wmr-10-dt-up {
    right: 10%;
  }
  .w-15-dt-up {
    width: 15%;
    flex: 0 1 15%;
    max-width: 15%;
  }
  .wml-15-dt-up {
    margin-left: 15%;
  }
  .wmr-15-dt-up {
    margin-right: 15%;
  }
  .wl-15-dt-up {
    left: 15%;
  }
  .wmr-15-dt-up {
    right: 15%;
  }
  .w-20-dt-up {
    width: 20%;
    flex: 0 1 20%;
    max-width: 20%;
  }
  .wml-20-dt-up {
    margin-left: 20%;
  }
  .wmr-20-dt-up {
    margin-right: 20%;
  }
  .wl-20-dt-up {
    left: 20%;
  }
  .wmr-20-dt-up {
    right: 20%;
  }
  .w-25-dt-up {
    width: 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
  .wml-25-dt-up {
    margin-left: 25%;
  }
  .wmr-25-dt-up {
    margin-right: 25%;
  }
  .wl-25-dt-up {
    left: 25%;
  }
  .wmr-25-dt-up {
    right: 25%;
  }
  .w-30-dt-up {
    width: 30%;
    flex: 0 1 30%;
    max-width: 30%;
  }
  .wml-30-dt-up {
    margin-left: 30%;
  }
  .wmr-30-dt-up {
    margin-right: 30%;
  }
  .wl-30-dt-up {
    left: 30%;
  }
  .wmr-30-dt-up {
    right: 30%;
  }
  .w-35-dt-up {
    width: 35%;
    flex: 0 1 35%;
    max-width: 35%;
  }
  .wml-35-dt-up {
    margin-left: 35%;
  }
  .wmr-35-dt-up {
    margin-right: 35%;
  }
  .wl-35-dt-up {
    left: 35%;
  }
  .wmr-35-dt-up {
    right: 35%;
  }
  .w-40-dt-up {
    width: 40%;
    flex: 0 1 40%;
    max-width: 40%;
  }
  .wml-40-dt-up {
    margin-left: 40%;
  }
  .wmr-40-dt-up {
    margin-right: 40%;
  }
  .wl-40-dt-up {
    left: 40%;
  }
  .wmr-40-dt-up {
    right: 40%;
  }
  .w-45-dt-up {
    width: 45%;
    flex: 0 1 45%;
    max-width: 45%;
  }
  .wml-45-dt-up {
    margin-left: 45%;
  }
  .wmr-45-dt-up {
    margin-right: 45%;
  }
  .wl-45-dt-up {
    left: 45%;
  }
  .wmr-45-dt-up {
    right: 45%;
  }
  .w-50-dt-up {
    width: 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wml-50-dt-up {
    margin-left: 50%;
  }
  .wmr-50-dt-up {
    margin-right: 50%;
  }
  .wl-50-dt-up {
    left: 50%;
  }
  .wmr-50-dt-up {
    right: 50%;
  }
  .w-55-dt-up {
    width: 55%;
    flex: 0 1 55%;
    max-width: 55%;
  }
  .wml-55-dt-up {
    margin-left: 55%;
  }
  .wmr-55-dt-up {
    margin-right: 55%;
  }
  .wl-55-dt-up {
    left: 55%;
  }
  .wmr-55-dt-up {
    right: 55%;
  }
  .w-60-dt-up {
    width: 60%;
    flex: 0 1 60%;
    max-width: 60%;
  }
  .wml-60-dt-up {
    margin-left: 60%;
  }
  .wmr-60-dt-up {
    margin-right: 60%;
  }
  .wl-60-dt-up {
    left: 60%;
  }
  .wmr-60-dt-up {
    right: 60%;
  }
  .w-65-dt-up {
    width: 65%;
    flex: 0 1 65%;
    max-width: 65%;
  }
  .wml-65-dt-up {
    margin-left: 65%;
  }
  .wmr-65-dt-up {
    margin-right: 65%;
  }
  .wl-65-dt-up {
    left: 65%;
  }
  .wmr-65-dt-up {
    right: 65%;
  }
  .w-70-dt-up {
    width: 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
  .wml-70-dt-up {
    margin-left: 70%;
  }
  .wmr-70-dt-up {
    margin-right: 70%;
  }
  .wl-70-dt-up {
    left: 70%;
  }
  .wmr-70-dt-up {
    right: 70%;
  }
  .w-75-dt-up {
    width: 75%;
    flex: 0 1 75%;
    max-width: 75%;
  }
  .wml-75-dt-up {
    margin-left: 75%;
  }
  .wmr-75-dt-up {
    margin-right: 75%;
  }
  .wl-75-dt-up {
    left: 75%;
  }
  .wmr-75-dt-up {
    right: 75%;
  }
  .w-80-dt-up {
    width: 80%;
    flex: 0 1 80%;
    max-width: 80%;
  }
  .wml-80-dt-up {
    margin-left: 80%;
  }
  .wmr-80-dt-up {
    margin-right: 80%;
  }
  .wl-80-dt-up {
    left: 80%;
  }
  .wmr-80-dt-up {
    right: 80%;
  }
  .w-85-dt-up {
    width: 85%;
    flex: 0 1 85%;
    max-width: 85%;
  }
  .wml-85-dt-up {
    margin-left: 85%;
  }
  .wmr-85-dt-up {
    margin-right: 85%;
  }
  .wl-85-dt-up {
    left: 85%;
  }
  .wmr-85-dt-up {
    right: 85%;
  }
  .w-90-dt-up {
    width: 90%;
    flex: 0 1 90%;
    max-width: 90%;
  }
  .wml-90-dt-up {
    margin-left: 90%;
  }
  .wmr-90-dt-up {
    margin-right: 90%;
  }
  .wl-90-dt-up {
    left: 90%;
  }
  .wmr-90-dt-up {
    right: 90%;
  }
  .w-95-dt-up {
    width: 95%;
    flex: 0 1 95%;
    max-width: 95%;
  }
  .wml-95-dt-up {
    margin-left: 95%;
  }
  .wmr-95-dt-up {
    margin-right: 95%;
  }
  .wl-95-dt-up {
    left: 95%;
  }
  .wmr-95-dt-up {
    right: 95%;
  }
  .w-100-dt-up {
    width: 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .wml-100-dt-up {
    margin-left: 100%;
  }
  .wmr-100-dt-up {
    margin-right: 100%;
  }
  .wl-100-dt-up {
    left: 100%;
  }
  .wmr-100-dt-up {
    right: 100%;
  }
  .wml-auto-dt-up {
    margin-left: auto !important;
  }
  .wmr-auto-dt-up {
    margin-right: auto !important;
  }
  .w-33-dt-up {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .w-auto-dt-up {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .w-maximize-dt-up {
    max-width: none !important;
    margin: 0 !important;
    align-self: stretch;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }
}

@media (max-width: 1280px) {
  .w-5-dt-down {
    width: 5%;
    flex: 0 1 5%;
    max-width: 5%;
  }
  .wml-5-dt-down {
    margin-left: 5%;
  }
  .wmr-5-dt-down {
    margin-right: 5%;
  }
  .wl-5-dt-down {
    left: 5%;
  }
  .wmr-5-dt-down {
    right: 5%;
  }
  .w-10-dt-down {
    width: 10%;
    flex: 0 1 10%;
    max-width: 10%;
  }
  .wml-10-dt-down {
    margin-left: 10%;
  }
  .wmr-10-dt-down {
    margin-right: 10%;
  }
  .wl-10-dt-down {
    left: 10%;
  }
  .wmr-10-dt-down {
    right: 10%;
  }
  .w-15-dt-down {
    width: 15%;
    flex: 0 1 15%;
    max-width: 15%;
  }
  .wml-15-dt-down {
    margin-left: 15%;
  }
  .wmr-15-dt-down {
    margin-right: 15%;
  }
  .wl-15-dt-down {
    left: 15%;
  }
  .wmr-15-dt-down {
    right: 15%;
  }
  .w-20-dt-down {
    width: 20%;
    flex: 0 1 20%;
    max-width: 20%;
  }
  .wml-20-dt-down {
    margin-left: 20%;
  }
  .wmr-20-dt-down {
    margin-right: 20%;
  }
  .wl-20-dt-down {
    left: 20%;
  }
  .wmr-20-dt-down {
    right: 20%;
  }
  .w-25-dt-down {
    width: 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
  .wml-25-dt-down {
    margin-left: 25%;
  }
  .wmr-25-dt-down {
    margin-right: 25%;
  }
  .wl-25-dt-down {
    left: 25%;
  }
  .wmr-25-dt-down {
    right: 25%;
  }
  .w-30-dt-down {
    width: 30%;
    flex: 0 1 30%;
    max-width: 30%;
  }
  .wml-30-dt-down {
    margin-left: 30%;
  }
  .wmr-30-dt-down {
    margin-right: 30%;
  }
  .wl-30-dt-down {
    left: 30%;
  }
  .wmr-30-dt-down {
    right: 30%;
  }
  .w-35-dt-down {
    width: 35%;
    flex: 0 1 35%;
    max-width: 35%;
  }
  .wml-35-dt-down {
    margin-left: 35%;
  }
  .wmr-35-dt-down {
    margin-right: 35%;
  }
  .wl-35-dt-down {
    left: 35%;
  }
  .wmr-35-dt-down {
    right: 35%;
  }
  .w-40-dt-down {
    width: 40%;
    flex: 0 1 40%;
    max-width: 40%;
  }
  .wml-40-dt-down {
    margin-left: 40%;
  }
  .wmr-40-dt-down {
    margin-right: 40%;
  }
  .wl-40-dt-down {
    left: 40%;
  }
  .wmr-40-dt-down {
    right: 40%;
  }
  .w-45-dt-down {
    width: 45%;
    flex: 0 1 45%;
    max-width: 45%;
  }
  .wml-45-dt-down {
    margin-left: 45%;
  }
  .wmr-45-dt-down {
    margin-right: 45%;
  }
  .wl-45-dt-down {
    left: 45%;
  }
  .wmr-45-dt-down {
    right: 45%;
  }
  .w-50-dt-down {
    width: 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wml-50-dt-down {
    margin-left: 50%;
  }
  .wmr-50-dt-down {
    margin-right: 50%;
  }
  .wl-50-dt-down {
    left: 50%;
  }
  .wmr-50-dt-down {
    right: 50%;
  }
  .w-55-dt-down {
    width: 55%;
    flex: 0 1 55%;
    max-width: 55%;
  }
  .wml-55-dt-down {
    margin-left: 55%;
  }
  .wmr-55-dt-down {
    margin-right: 55%;
  }
  .wl-55-dt-down {
    left: 55%;
  }
  .wmr-55-dt-down {
    right: 55%;
  }
  .w-60-dt-down {
    width: 60%;
    flex: 0 1 60%;
    max-width: 60%;
  }
  .wml-60-dt-down {
    margin-left: 60%;
  }
  .wmr-60-dt-down {
    margin-right: 60%;
  }
  .wl-60-dt-down {
    left: 60%;
  }
  .wmr-60-dt-down {
    right: 60%;
  }
  .w-65-dt-down {
    width: 65%;
    flex: 0 1 65%;
    max-width: 65%;
  }
  .wml-65-dt-down {
    margin-left: 65%;
  }
  .wmr-65-dt-down {
    margin-right: 65%;
  }
  .wl-65-dt-down {
    left: 65%;
  }
  .wmr-65-dt-down {
    right: 65%;
  }
  .w-70-dt-down {
    width: 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
  .wml-70-dt-down {
    margin-left: 70%;
  }
  .wmr-70-dt-down {
    margin-right: 70%;
  }
  .wl-70-dt-down {
    left: 70%;
  }
  .wmr-70-dt-down {
    right: 70%;
  }
  .w-75-dt-down {
    width: 75%;
    flex: 0 1 75%;
    max-width: 75%;
  }
  .wml-75-dt-down {
    margin-left: 75%;
  }
  .wmr-75-dt-down {
    margin-right: 75%;
  }
  .wl-75-dt-down {
    left: 75%;
  }
  .wmr-75-dt-down {
    right: 75%;
  }
  .w-80-dt-down {
    width: 80%;
    flex: 0 1 80%;
    max-width: 80%;
  }
  .wml-80-dt-down {
    margin-left: 80%;
  }
  .wmr-80-dt-down {
    margin-right: 80%;
  }
  .wl-80-dt-down {
    left: 80%;
  }
  .wmr-80-dt-down {
    right: 80%;
  }
  .w-85-dt-down {
    width: 85%;
    flex: 0 1 85%;
    max-width: 85%;
  }
  .wml-85-dt-down {
    margin-left: 85%;
  }
  .wmr-85-dt-down {
    margin-right: 85%;
  }
  .wl-85-dt-down {
    left: 85%;
  }
  .wmr-85-dt-down {
    right: 85%;
  }
  .w-90-dt-down {
    width: 90%;
    flex: 0 1 90%;
    max-width: 90%;
  }
  .wml-90-dt-down {
    margin-left: 90%;
  }
  .wmr-90-dt-down {
    margin-right: 90%;
  }
  .wl-90-dt-down {
    left: 90%;
  }
  .wmr-90-dt-down {
    right: 90%;
  }
  .w-95-dt-down {
    width: 95%;
    flex: 0 1 95%;
    max-width: 95%;
  }
  .wml-95-dt-down {
    margin-left: 95%;
  }
  .wmr-95-dt-down {
    margin-right: 95%;
  }
  .wl-95-dt-down {
    left: 95%;
  }
  .wmr-95-dt-down {
    right: 95%;
  }
  .w-100-dt-down {
    width: 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .wml-100-dt-down {
    margin-left: 100%;
  }
  .wmr-100-dt-down {
    margin-right: 100%;
  }
  .wl-100-dt-down {
    left: 100%;
  }
  .wmr-100-dt-down {
    right: 100%;
  }
  .wml-auto-dt-down {
    margin-left: auto !important;
  }
  .wmr-auto-dt-down {
    margin-right: auto !important;
  }
  .w-33-dt-down {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .w-auto-dt-down {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .w-maximize-dt-down {
    max-width: none !important;
    margin: 0 !important;
    align-self: stretch;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }
}

@media (min-width: 1281px) and (max-width: 1600px) {
  .w-5-lg {
    width: 5%;
    flex: 0 1 5%;
    max-width: 5%;
  }
  .wml-5-lg {
    margin-left: 5%;
  }
  .wmr-5-lg {
    margin-right: 5%;
  }
  .wl-5-lg {
    left: 5%;
  }
  .wmr-5-lg {
    right: 5%;
  }
  .w-10-lg {
    width: 10%;
    flex: 0 1 10%;
    max-width: 10%;
  }
  .wml-10-lg {
    margin-left: 10%;
  }
  .wmr-10-lg {
    margin-right: 10%;
  }
  .wl-10-lg {
    left: 10%;
  }
  .wmr-10-lg {
    right: 10%;
  }
  .w-15-lg {
    width: 15%;
    flex: 0 1 15%;
    max-width: 15%;
  }
  .wml-15-lg {
    margin-left: 15%;
  }
  .wmr-15-lg {
    margin-right: 15%;
  }
  .wl-15-lg {
    left: 15%;
  }
  .wmr-15-lg {
    right: 15%;
  }
  .w-20-lg {
    width: 20%;
    flex: 0 1 20%;
    max-width: 20%;
  }
  .wml-20-lg {
    margin-left: 20%;
  }
  .wmr-20-lg {
    margin-right: 20%;
  }
  .wl-20-lg {
    left: 20%;
  }
  .wmr-20-lg {
    right: 20%;
  }
  .w-25-lg {
    width: 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
  .wml-25-lg {
    margin-left: 25%;
  }
  .wmr-25-lg {
    margin-right: 25%;
  }
  .wl-25-lg {
    left: 25%;
  }
  .wmr-25-lg {
    right: 25%;
  }
  .w-30-lg {
    width: 30%;
    flex: 0 1 30%;
    max-width: 30%;
  }
  .wml-30-lg {
    margin-left: 30%;
  }
  .wmr-30-lg {
    margin-right: 30%;
  }
  .wl-30-lg {
    left: 30%;
  }
  .wmr-30-lg {
    right: 30%;
  }
  .w-35-lg {
    width: 35%;
    flex: 0 1 35%;
    max-width: 35%;
  }
  .wml-35-lg {
    margin-left: 35%;
  }
  .wmr-35-lg {
    margin-right: 35%;
  }
  .wl-35-lg {
    left: 35%;
  }
  .wmr-35-lg {
    right: 35%;
  }
  .w-40-lg {
    width: 40%;
    flex: 0 1 40%;
    max-width: 40%;
  }
  .wml-40-lg {
    margin-left: 40%;
  }
  .wmr-40-lg {
    margin-right: 40%;
  }
  .wl-40-lg {
    left: 40%;
  }
  .wmr-40-lg {
    right: 40%;
  }
  .w-45-lg {
    width: 45%;
    flex: 0 1 45%;
    max-width: 45%;
  }
  .wml-45-lg {
    margin-left: 45%;
  }
  .wmr-45-lg {
    margin-right: 45%;
  }
  .wl-45-lg {
    left: 45%;
  }
  .wmr-45-lg {
    right: 45%;
  }
  .w-50-lg {
    width: 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wml-50-lg {
    margin-left: 50%;
  }
  .wmr-50-lg {
    margin-right: 50%;
  }
  .wl-50-lg {
    left: 50%;
  }
  .wmr-50-lg {
    right: 50%;
  }
  .w-55-lg {
    width: 55%;
    flex: 0 1 55%;
    max-width: 55%;
  }
  .wml-55-lg {
    margin-left: 55%;
  }
  .wmr-55-lg {
    margin-right: 55%;
  }
  .wl-55-lg {
    left: 55%;
  }
  .wmr-55-lg {
    right: 55%;
  }
  .w-60-lg {
    width: 60%;
    flex: 0 1 60%;
    max-width: 60%;
  }
  .wml-60-lg {
    margin-left: 60%;
  }
  .wmr-60-lg {
    margin-right: 60%;
  }
  .wl-60-lg {
    left: 60%;
  }
  .wmr-60-lg {
    right: 60%;
  }
  .w-65-lg {
    width: 65%;
    flex: 0 1 65%;
    max-width: 65%;
  }
  .wml-65-lg {
    margin-left: 65%;
  }
  .wmr-65-lg {
    margin-right: 65%;
  }
  .wl-65-lg {
    left: 65%;
  }
  .wmr-65-lg {
    right: 65%;
  }
  .w-70-lg {
    width: 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
  .wml-70-lg {
    margin-left: 70%;
  }
  .wmr-70-lg {
    margin-right: 70%;
  }
  .wl-70-lg {
    left: 70%;
  }
  .wmr-70-lg {
    right: 70%;
  }
  .w-75-lg {
    width: 75%;
    flex: 0 1 75%;
    max-width: 75%;
  }
  .wml-75-lg {
    margin-left: 75%;
  }
  .wmr-75-lg {
    margin-right: 75%;
  }
  .wl-75-lg {
    left: 75%;
  }
  .wmr-75-lg {
    right: 75%;
  }
  .w-80-lg {
    width: 80%;
    flex: 0 1 80%;
    max-width: 80%;
  }
  .wml-80-lg {
    margin-left: 80%;
  }
  .wmr-80-lg {
    margin-right: 80%;
  }
  .wl-80-lg {
    left: 80%;
  }
  .wmr-80-lg {
    right: 80%;
  }
  .w-85-lg {
    width: 85%;
    flex: 0 1 85%;
    max-width: 85%;
  }
  .wml-85-lg {
    margin-left: 85%;
  }
  .wmr-85-lg {
    margin-right: 85%;
  }
  .wl-85-lg {
    left: 85%;
  }
  .wmr-85-lg {
    right: 85%;
  }
  .w-90-lg {
    width: 90%;
    flex: 0 1 90%;
    max-width: 90%;
  }
  .wml-90-lg {
    margin-left: 90%;
  }
  .wmr-90-lg {
    margin-right: 90%;
  }
  .wl-90-lg {
    left: 90%;
  }
  .wmr-90-lg {
    right: 90%;
  }
  .w-95-lg {
    width: 95%;
    flex: 0 1 95%;
    max-width: 95%;
  }
  .wml-95-lg {
    margin-left: 95%;
  }
  .wmr-95-lg {
    margin-right: 95%;
  }
  .wl-95-lg {
    left: 95%;
  }
  .wmr-95-lg {
    right: 95%;
  }
  .w-100-lg {
    width: 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .wml-100-lg {
    margin-left: 100%;
  }
  .wmr-100-lg {
    margin-right: 100%;
  }
  .wl-100-lg {
    left: 100%;
  }
  .wmr-100-lg {
    right: 100%;
  }
  .wml-auto-lg {
    margin-left: auto !important;
  }
  .wmr-auto-lg {
    margin-right: auto !important;
  }
  .w-33-lg {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .w-auto-lg {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .w-maximize-lg {
    max-width: none !important;
    margin: 0 !important;
    align-self: stretch;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }
}

@media (min-width: 1281px) {
  .w-5-lg-up {
    width: 5%;
    flex: 0 1 5%;
    max-width: 5%;
  }
  .wml-5-lg-up {
    margin-left: 5%;
  }
  .wmr-5-lg-up {
    margin-right: 5%;
  }
  .wl-5-lg-up {
    left: 5%;
  }
  .wmr-5-lg-up {
    right: 5%;
  }
  .w-10-lg-up {
    width: 10%;
    flex: 0 1 10%;
    max-width: 10%;
  }
  .wml-10-lg-up {
    margin-left: 10%;
  }
  .wmr-10-lg-up {
    margin-right: 10%;
  }
  .wl-10-lg-up {
    left: 10%;
  }
  .wmr-10-lg-up {
    right: 10%;
  }
  .w-15-lg-up {
    width: 15%;
    flex: 0 1 15%;
    max-width: 15%;
  }
  .wml-15-lg-up {
    margin-left: 15%;
  }
  .wmr-15-lg-up {
    margin-right: 15%;
  }
  .wl-15-lg-up {
    left: 15%;
  }
  .wmr-15-lg-up {
    right: 15%;
  }
  .w-20-lg-up {
    width: 20%;
    flex: 0 1 20%;
    max-width: 20%;
  }
  .wml-20-lg-up {
    margin-left: 20%;
  }
  .wmr-20-lg-up {
    margin-right: 20%;
  }
  .wl-20-lg-up {
    left: 20%;
  }
  .wmr-20-lg-up {
    right: 20%;
  }
  .w-25-lg-up {
    width: 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
  .wml-25-lg-up {
    margin-left: 25%;
  }
  .wmr-25-lg-up {
    margin-right: 25%;
  }
  .wl-25-lg-up {
    left: 25%;
  }
  .wmr-25-lg-up {
    right: 25%;
  }
  .w-30-lg-up {
    width: 30%;
    flex: 0 1 30%;
    max-width: 30%;
  }
  .wml-30-lg-up {
    margin-left: 30%;
  }
  .wmr-30-lg-up {
    margin-right: 30%;
  }
  .wl-30-lg-up {
    left: 30%;
  }
  .wmr-30-lg-up {
    right: 30%;
  }
  .w-35-lg-up {
    width: 35%;
    flex: 0 1 35%;
    max-width: 35%;
  }
  .wml-35-lg-up {
    margin-left: 35%;
  }
  .wmr-35-lg-up {
    margin-right: 35%;
  }
  .wl-35-lg-up {
    left: 35%;
  }
  .wmr-35-lg-up {
    right: 35%;
  }
  .w-40-lg-up {
    width: 40%;
    flex: 0 1 40%;
    max-width: 40%;
  }
  .wml-40-lg-up {
    margin-left: 40%;
  }
  .wmr-40-lg-up {
    margin-right: 40%;
  }
  .wl-40-lg-up {
    left: 40%;
  }
  .wmr-40-lg-up {
    right: 40%;
  }
  .w-45-lg-up {
    width: 45%;
    flex: 0 1 45%;
    max-width: 45%;
  }
  .wml-45-lg-up {
    margin-left: 45%;
  }
  .wmr-45-lg-up {
    margin-right: 45%;
  }
  .wl-45-lg-up {
    left: 45%;
  }
  .wmr-45-lg-up {
    right: 45%;
  }
  .w-50-lg-up {
    width: 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wml-50-lg-up {
    margin-left: 50%;
  }
  .wmr-50-lg-up {
    margin-right: 50%;
  }
  .wl-50-lg-up {
    left: 50%;
  }
  .wmr-50-lg-up {
    right: 50%;
  }
  .w-55-lg-up {
    width: 55%;
    flex: 0 1 55%;
    max-width: 55%;
  }
  .wml-55-lg-up {
    margin-left: 55%;
  }
  .wmr-55-lg-up {
    margin-right: 55%;
  }
  .wl-55-lg-up {
    left: 55%;
  }
  .wmr-55-lg-up {
    right: 55%;
  }
  .w-60-lg-up {
    width: 60%;
    flex: 0 1 60%;
    max-width: 60%;
  }
  .wml-60-lg-up {
    margin-left: 60%;
  }
  .wmr-60-lg-up {
    margin-right: 60%;
  }
  .wl-60-lg-up {
    left: 60%;
  }
  .wmr-60-lg-up {
    right: 60%;
  }
  .w-65-lg-up {
    width: 65%;
    flex: 0 1 65%;
    max-width: 65%;
  }
  .wml-65-lg-up {
    margin-left: 65%;
  }
  .wmr-65-lg-up {
    margin-right: 65%;
  }
  .wl-65-lg-up {
    left: 65%;
  }
  .wmr-65-lg-up {
    right: 65%;
  }
  .w-70-lg-up {
    width: 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
  .wml-70-lg-up {
    margin-left: 70%;
  }
  .wmr-70-lg-up {
    margin-right: 70%;
  }
  .wl-70-lg-up {
    left: 70%;
  }
  .wmr-70-lg-up {
    right: 70%;
  }
  .w-75-lg-up {
    width: 75%;
    flex: 0 1 75%;
    max-width: 75%;
  }
  .wml-75-lg-up {
    margin-left: 75%;
  }
  .wmr-75-lg-up {
    margin-right: 75%;
  }
  .wl-75-lg-up {
    left: 75%;
  }
  .wmr-75-lg-up {
    right: 75%;
  }
  .w-80-lg-up {
    width: 80%;
    flex: 0 1 80%;
    max-width: 80%;
  }
  .wml-80-lg-up {
    margin-left: 80%;
  }
  .wmr-80-lg-up {
    margin-right: 80%;
  }
  .wl-80-lg-up {
    left: 80%;
  }
  .wmr-80-lg-up {
    right: 80%;
  }
  .w-85-lg-up {
    width: 85%;
    flex: 0 1 85%;
    max-width: 85%;
  }
  .wml-85-lg-up {
    margin-left: 85%;
  }
  .wmr-85-lg-up {
    margin-right: 85%;
  }
  .wl-85-lg-up {
    left: 85%;
  }
  .wmr-85-lg-up {
    right: 85%;
  }
  .w-90-lg-up {
    width: 90%;
    flex: 0 1 90%;
    max-width: 90%;
  }
  .wml-90-lg-up {
    margin-left: 90%;
  }
  .wmr-90-lg-up {
    margin-right: 90%;
  }
  .wl-90-lg-up {
    left: 90%;
  }
  .wmr-90-lg-up {
    right: 90%;
  }
  .w-95-lg-up {
    width: 95%;
    flex: 0 1 95%;
    max-width: 95%;
  }
  .wml-95-lg-up {
    margin-left: 95%;
  }
  .wmr-95-lg-up {
    margin-right: 95%;
  }
  .wl-95-lg-up {
    left: 95%;
  }
  .wmr-95-lg-up {
    right: 95%;
  }
  .w-100-lg-up {
    width: 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .wml-100-lg-up {
    margin-left: 100%;
  }
  .wmr-100-lg-up {
    margin-right: 100%;
  }
  .wl-100-lg-up {
    left: 100%;
  }
  .wmr-100-lg-up {
    right: 100%;
  }
  .wml-auto-lg-up {
    margin-left: auto !important;
  }
  .wmr-auto-lg-up {
    margin-right: auto !important;
  }
  .w-33-lg-up {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .w-auto-lg-up {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .w-maximize-lg-up {
    max-width: none !important;
    margin: 0 !important;
    align-self: stretch;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }
}

@media (max-width: 1600px) {
  .w-5-lg-down {
    width: 5%;
    flex: 0 1 5%;
    max-width: 5%;
  }
  .wml-5-lg-down {
    margin-left: 5%;
  }
  .wmr-5-lg-down {
    margin-right: 5%;
  }
  .wl-5-lg-down {
    left: 5%;
  }
  .wmr-5-lg-down {
    right: 5%;
  }
  .w-10-lg-down {
    width: 10%;
    flex: 0 1 10%;
    max-width: 10%;
  }
  .wml-10-lg-down {
    margin-left: 10%;
  }
  .wmr-10-lg-down {
    margin-right: 10%;
  }
  .wl-10-lg-down {
    left: 10%;
  }
  .wmr-10-lg-down {
    right: 10%;
  }
  .w-15-lg-down {
    width: 15%;
    flex: 0 1 15%;
    max-width: 15%;
  }
  .wml-15-lg-down {
    margin-left: 15%;
  }
  .wmr-15-lg-down {
    margin-right: 15%;
  }
  .wl-15-lg-down {
    left: 15%;
  }
  .wmr-15-lg-down {
    right: 15%;
  }
  .w-20-lg-down {
    width: 20%;
    flex: 0 1 20%;
    max-width: 20%;
  }
  .wml-20-lg-down {
    margin-left: 20%;
  }
  .wmr-20-lg-down {
    margin-right: 20%;
  }
  .wl-20-lg-down {
    left: 20%;
  }
  .wmr-20-lg-down {
    right: 20%;
  }
  .w-25-lg-down {
    width: 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
  .wml-25-lg-down {
    margin-left: 25%;
  }
  .wmr-25-lg-down {
    margin-right: 25%;
  }
  .wl-25-lg-down {
    left: 25%;
  }
  .wmr-25-lg-down {
    right: 25%;
  }
  .w-30-lg-down {
    width: 30%;
    flex: 0 1 30%;
    max-width: 30%;
  }
  .wml-30-lg-down {
    margin-left: 30%;
  }
  .wmr-30-lg-down {
    margin-right: 30%;
  }
  .wl-30-lg-down {
    left: 30%;
  }
  .wmr-30-lg-down {
    right: 30%;
  }
  .w-35-lg-down {
    width: 35%;
    flex: 0 1 35%;
    max-width: 35%;
  }
  .wml-35-lg-down {
    margin-left: 35%;
  }
  .wmr-35-lg-down {
    margin-right: 35%;
  }
  .wl-35-lg-down {
    left: 35%;
  }
  .wmr-35-lg-down {
    right: 35%;
  }
  .w-40-lg-down {
    width: 40%;
    flex: 0 1 40%;
    max-width: 40%;
  }
  .wml-40-lg-down {
    margin-left: 40%;
  }
  .wmr-40-lg-down {
    margin-right: 40%;
  }
  .wl-40-lg-down {
    left: 40%;
  }
  .wmr-40-lg-down {
    right: 40%;
  }
  .w-45-lg-down {
    width: 45%;
    flex: 0 1 45%;
    max-width: 45%;
  }
  .wml-45-lg-down {
    margin-left: 45%;
  }
  .wmr-45-lg-down {
    margin-right: 45%;
  }
  .wl-45-lg-down {
    left: 45%;
  }
  .wmr-45-lg-down {
    right: 45%;
  }
  .w-50-lg-down {
    width: 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wml-50-lg-down {
    margin-left: 50%;
  }
  .wmr-50-lg-down {
    margin-right: 50%;
  }
  .wl-50-lg-down {
    left: 50%;
  }
  .wmr-50-lg-down {
    right: 50%;
  }
  .w-55-lg-down {
    width: 55%;
    flex: 0 1 55%;
    max-width: 55%;
  }
  .wml-55-lg-down {
    margin-left: 55%;
  }
  .wmr-55-lg-down {
    margin-right: 55%;
  }
  .wl-55-lg-down {
    left: 55%;
  }
  .wmr-55-lg-down {
    right: 55%;
  }
  .w-60-lg-down {
    width: 60%;
    flex: 0 1 60%;
    max-width: 60%;
  }
  .wml-60-lg-down {
    margin-left: 60%;
  }
  .wmr-60-lg-down {
    margin-right: 60%;
  }
  .wl-60-lg-down {
    left: 60%;
  }
  .wmr-60-lg-down {
    right: 60%;
  }
  .w-65-lg-down {
    width: 65%;
    flex: 0 1 65%;
    max-width: 65%;
  }
  .wml-65-lg-down {
    margin-left: 65%;
  }
  .wmr-65-lg-down {
    margin-right: 65%;
  }
  .wl-65-lg-down {
    left: 65%;
  }
  .wmr-65-lg-down {
    right: 65%;
  }
  .w-70-lg-down {
    width: 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
  .wml-70-lg-down {
    margin-left: 70%;
  }
  .wmr-70-lg-down {
    margin-right: 70%;
  }
  .wl-70-lg-down {
    left: 70%;
  }
  .wmr-70-lg-down {
    right: 70%;
  }
  .w-75-lg-down {
    width: 75%;
    flex: 0 1 75%;
    max-width: 75%;
  }
  .wml-75-lg-down {
    margin-left: 75%;
  }
  .wmr-75-lg-down {
    margin-right: 75%;
  }
  .wl-75-lg-down {
    left: 75%;
  }
  .wmr-75-lg-down {
    right: 75%;
  }
  .w-80-lg-down {
    width: 80%;
    flex: 0 1 80%;
    max-width: 80%;
  }
  .wml-80-lg-down {
    margin-left: 80%;
  }
  .wmr-80-lg-down {
    margin-right: 80%;
  }
  .wl-80-lg-down {
    left: 80%;
  }
  .wmr-80-lg-down {
    right: 80%;
  }
  .w-85-lg-down {
    width: 85%;
    flex: 0 1 85%;
    max-width: 85%;
  }
  .wml-85-lg-down {
    margin-left: 85%;
  }
  .wmr-85-lg-down {
    margin-right: 85%;
  }
  .wl-85-lg-down {
    left: 85%;
  }
  .wmr-85-lg-down {
    right: 85%;
  }
  .w-90-lg-down {
    width: 90%;
    flex: 0 1 90%;
    max-width: 90%;
  }
  .wml-90-lg-down {
    margin-left: 90%;
  }
  .wmr-90-lg-down {
    margin-right: 90%;
  }
  .wl-90-lg-down {
    left: 90%;
  }
  .wmr-90-lg-down {
    right: 90%;
  }
  .w-95-lg-down {
    width: 95%;
    flex: 0 1 95%;
    max-width: 95%;
  }
  .wml-95-lg-down {
    margin-left: 95%;
  }
  .wmr-95-lg-down {
    margin-right: 95%;
  }
  .wl-95-lg-down {
    left: 95%;
  }
  .wmr-95-lg-down {
    right: 95%;
  }
  .w-100-lg-down {
    width: 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .wml-100-lg-down {
    margin-left: 100%;
  }
  .wmr-100-lg-down {
    margin-right: 100%;
  }
  .wl-100-lg-down {
    left: 100%;
  }
  .wmr-100-lg-down {
    right: 100%;
  }
  .wml-auto-lg-down {
    margin-left: auto !important;
  }
  .wmr-auto-lg-down {
    margin-right: auto !important;
  }
  .w-33-lg-down {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .w-auto-lg-down {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .w-maximize-lg-down {
    max-width: none !important;
    margin: 0 !important;
    align-self: stretch;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }
}

@media (min-width: 1601px) {
  .w-5-xl {
    width: 5%;
    flex: 0 1 5%;
    max-width: 5%;
  }
  .wml-5-xl {
    margin-left: 5%;
  }
  .wmr-5-xl {
    margin-right: 5%;
  }
  .wl-5-xl {
    left: 5%;
  }
  .wmr-5-xl {
    right: 5%;
  }
  .w-10-xl {
    width: 10%;
    flex: 0 1 10%;
    max-width: 10%;
  }
  .wml-10-xl {
    margin-left: 10%;
  }
  .wmr-10-xl {
    margin-right: 10%;
  }
  .wl-10-xl {
    left: 10%;
  }
  .wmr-10-xl {
    right: 10%;
  }
  .w-15-xl {
    width: 15%;
    flex: 0 1 15%;
    max-width: 15%;
  }
  .wml-15-xl {
    margin-left: 15%;
  }
  .wmr-15-xl {
    margin-right: 15%;
  }
  .wl-15-xl {
    left: 15%;
  }
  .wmr-15-xl {
    right: 15%;
  }
  .w-20-xl {
    width: 20%;
    flex: 0 1 20%;
    max-width: 20%;
  }
  .wml-20-xl {
    margin-left: 20%;
  }
  .wmr-20-xl {
    margin-right: 20%;
  }
  .wl-20-xl {
    left: 20%;
  }
  .wmr-20-xl {
    right: 20%;
  }
  .w-25-xl {
    width: 25%;
    flex: 0 1 25%;
    max-width: 25%;
  }
  .wml-25-xl {
    margin-left: 25%;
  }
  .wmr-25-xl {
    margin-right: 25%;
  }
  .wl-25-xl {
    left: 25%;
  }
  .wmr-25-xl {
    right: 25%;
  }
  .w-30-xl {
    width: 30%;
    flex: 0 1 30%;
    max-width: 30%;
  }
  .wml-30-xl {
    margin-left: 30%;
  }
  .wmr-30-xl {
    margin-right: 30%;
  }
  .wl-30-xl {
    left: 30%;
  }
  .wmr-30-xl {
    right: 30%;
  }
  .w-35-xl {
    width: 35%;
    flex: 0 1 35%;
    max-width: 35%;
  }
  .wml-35-xl {
    margin-left: 35%;
  }
  .wmr-35-xl {
    margin-right: 35%;
  }
  .wl-35-xl {
    left: 35%;
  }
  .wmr-35-xl {
    right: 35%;
  }
  .w-40-xl {
    width: 40%;
    flex: 0 1 40%;
    max-width: 40%;
  }
  .wml-40-xl {
    margin-left: 40%;
  }
  .wmr-40-xl {
    margin-right: 40%;
  }
  .wl-40-xl {
    left: 40%;
  }
  .wmr-40-xl {
    right: 40%;
  }
  .w-45-xl {
    width: 45%;
    flex: 0 1 45%;
    max-width: 45%;
  }
  .wml-45-xl {
    margin-left: 45%;
  }
  .wmr-45-xl {
    margin-right: 45%;
  }
  .wl-45-xl {
    left: 45%;
  }
  .wmr-45-xl {
    right: 45%;
  }
  .w-50-xl {
    width: 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
  .wml-50-xl {
    margin-left: 50%;
  }
  .wmr-50-xl {
    margin-right: 50%;
  }
  .wl-50-xl {
    left: 50%;
  }
  .wmr-50-xl {
    right: 50%;
  }
  .w-55-xl {
    width: 55%;
    flex: 0 1 55%;
    max-width: 55%;
  }
  .wml-55-xl {
    margin-left: 55%;
  }
  .wmr-55-xl {
    margin-right: 55%;
  }
  .wl-55-xl {
    left: 55%;
  }
  .wmr-55-xl {
    right: 55%;
  }
  .w-60-xl {
    width: 60%;
    flex: 0 1 60%;
    max-width: 60%;
  }
  .wml-60-xl {
    margin-left: 60%;
  }
  .wmr-60-xl {
    margin-right: 60%;
  }
  .wl-60-xl {
    left: 60%;
  }
  .wmr-60-xl {
    right: 60%;
  }
  .w-65-xl {
    width: 65%;
    flex: 0 1 65%;
    max-width: 65%;
  }
  .wml-65-xl {
    margin-left: 65%;
  }
  .wmr-65-xl {
    margin-right: 65%;
  }
  .wl-65-xl {
    left: 65%;
  }
  .wmr-65-xl {
    right: 65%;
  }
  .w-70-xl {
    width: 70%;
    flex: 0 1 70%;
    max-width: 70%;
  }
  .wml-70-xl {
    margin-left: 70%;
  }
  .wmr-70-xl {
    margin-right: 70%;
  }
  .wl-70-xl {
    left: 70%;
  }
  .wmr-70-xl {
    right: 70%;
  }
  .w-75-xl {
    width: 75%;
    flex: 0 1 75%;
    max-width: 75%;
  }
  .wml-75-xl {
    margin-left: 75%;
  }
  .wmr-75-xl {
    margin-right: 75%;
  }
  .wl-75-xl {
    left: 75%;
  }
  .wmr-75-xl {
    right: 75%;
  }
  .w-80-xl {
    width: 80%;
    flex: 0 1 80%;
    max-width: 80%;
  }
  .wml-80-xl {
    margin-left: 80%;
  }
  .wmr-80-xl {
    margin-right: 80%;
  }
  .wl-80-xl {
    left: 80%;
  }
  .wmr-80-xl {
    right: 80%;
  }
  .w-85-xl {
    width: 85%;
    flex: 0 1 85%;
    max-width: 85%;
  }
  .wml-85-xl {
    margin-left: 85%;
  }
  .wmr-85-xl {
    margin-right: 85%;
  }
  .wl-85-xl {
    left: 85%;
  }
  .wmr-85-xl {
    right: 85%;
  }
  .w-90-xl {
    width: 90%;
    flex: 0 1 90%;
    max-width: 90%;
  }
  .wml-90-xl {
    margin-left: 90%;
  }
  .wmr-90-xl {
    margin-right: 90%;
  }
  .wl-90-xl {
    left: 90%;
  }
  .wmr-90-xl {
    right: 90%;
  }
  .w-95-xl {
    width: 95%;
    flex: 0 1 95%;
    max-width: 95%;
  }
  .wml-95-xl {
    margin-left: 95%;
  }
  .wmr-95-xl {
    margin-right: 95%;
  }
  .wl-95-xl {
    left: 95%;
  }
  .wmr-95-xl {
    right: 95%;
  }
  .w-100-xl {
    width: 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .wml-100-xl {
    margin-left: 100%;
  }
  .wmr-100-xl {
    margin-right: 100%;
  }
  .wl-100-xl {
    left: 100%;
  }
  .wmr-100-xl {
    right: 100%;
  }
  .wml-auto-xl {
    margin-left: auto !important;
  }
  .wmr-auto-xl {
    margin-right: auto !important;
  }
  .w-33-xl {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .w-auto-xl {
    flex: 1 1 auto;
    max-width: 100%;
  }
  .w-maximize-xl {
    max-width: none !important;
    margin: 0 !important;
    align-self: stretch;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }
}
