/*
Device = Maioria dos telefones Smartphone (Portrait)
Screen = B/w 320px to 479px
*/
$sm: "(min-width: 320px) and (max-width: 480px)";
$sm-up: "(min-width: 320px)";
$sm-down: "(max-width: 480px)";

/*
Device = Low Resolution Tablets, Mobiles (Landscape)
Screen = B/w 481px to 767px
*/
$md: "(min-width: 481px) and (max-width: 767px)";
$md-up: "(min-width: 481px)";
$md-down: "(max-width: 767px)";

/*
Device = Tablets, Ipads (portrait)
Screen = B/w 768px to 1024px
*/
$tb: "(min-width: 768px) and (max-width: 1024px)";
$tb-up: "(min-width: 768px)";
$tb-down: "(max-width: 1024px)";

/*
Device = Laptops, Desktops
Screen = B/w 1025px to 1280px
*/
$dt: "(min-width: 1025px) and (max-width: 1280px)";
$dt-up: "(min-width: 1025px)";
$dt-down: "(max-width: 1280px)";

/*
Device = Large devices
Screen = 1281px to higher resolution desktops
*/
$lg: "(min-width: 1281px) and (max-width: 1600px)";
$lg-up: "(min-width: 1281px)";
$lg-down: "(max-width: 1600px)";

$xl: "(min-width: 1601px)";


$breakpoints: (      
    sm      :   $sm,
    sm-up   :   $sm-up,
    sm-down :   $sm-down,
       
    md      :   $md,
    md-up   :   $md-up,
    md-down :   $md-down,
       
    tb      :   $tb,
    tb-up   :   $tb-up,
    tb-down :   $tb-down,

    dt      :   $dt,
    dt-up   :   $dt-up,
    dt-down :   $dt-down,
      
    lg      :   $lg,
    lg-up   :   $lg-up,
    lg-down :   $lg-down,
    
    xl      :    $xl
);   
/* -------------------------------------------------------------------------- */   